.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close
  %h4#mymodal.modal-title= t('.choose_action')
.modal-body
  - if @menu.tp == 'view'
    .row.marginbottom20
      .col-md-9.center-block.no-float
        .form-group.padding-content
          = label_tag "url", t('.url_help_block'), class: "font-normal"
          = text_field_tag "url", @menu.url, disabled: true, class: "form-control"
        .form-group.padding-content
          = link_to redirect_url_public_account_menu_path(@public_account, menu), class: "btn btn-default", remote: true do
            = t('change')
  .row
    %p.text-muted.text-center.marginbottom20= t('.please_choose')

    .thumb_item.col-md-6
      = link_to send_message_public_account_menu_path(@public_account, menu), remote: true do
        %i.fa.fa-envelope-o.fa-2x.fa-item
      %p.margintop10= t('.send_message')
    .thumb_item.col-md-6
      = link_to redirect_url_public_account_menu_path(@public_account, menu), remote: true do
        %i.fa.fa-external-link.fa-2x.fa-item
      %p.margintop10= t('.redirect_url')
.modal-footer
  %button{type: "button", class: "btn btn-default", "data-dismiss" => "modal"}
    = t('close')