%h3.title-divider
  %span
    = t('.title')
.alert.alert-info{role: "alert"}
  %p
    = raw t('.note1')
  %p
    = raw t('.note2')

.row
  .col-md-5
    %div.iphone-menu{:style => "width: 344px;height: 623px;position: relative;"}
      .menu-bottom{:style => "position: absolute;bottom: 122px;"}
        %div{:style => "position: relative;left:46px; float:left;"}
          %div{:style => "position: absolute;bottom:45px; float:left;border: 1px solid #A19494;"}
            %div{:style => "height: 45px;width: 83px;line-height: 43px;text-align: center;"} test2
          %div{:style => "position: absolute;bottom:90px; float:left;border: 1px solid #A19494;"}
            %div{:style => "height: 45px;width: 83px;line-height: 45px;text-align: center;"} test1
          #maincd1.maincd{:style => "height: 45px;width: 85px;line-height: 45px;text-align: center;"} 菜单一
        %div{:style => "position: relative;left: 45px;float:left;"}
          %div{:style => "position: absolute;bottom:45px; float:left;border: 1px solid #A19494;"}
            %div{:style => "height: 45px;width: 83px;line-height: 43px;text-align: center;"} test2
          %div{:style => "position: absolute;bottom:90px; float:left;border: 1px solid #A19494;"}
            %div{:style => "height: 45px;width: 83px;line-height: 45px;text-align: center;"} test1
          #maincd1.maincd{:style => "height: 45px;width: 85px;line-height: 45px;text-align: center;"} 菜单二
        %div{:style => "position: relative;left: 45px;float:left;"}
          #maincd1.maincd{:style => "height: 45px;width: 85px;line-height: 45px;text-align: center;"} 菜单三

  .col-md-7
    -# 添加一级菜单按钮
    = link_to t('.new_top_menu'), new_public_account_menu_path(@public_account), class: "btn btn-primary #{!@menus.empty? && @menus.count >= 3 ? 'disabled' : nil}", remote: true
    - if @menus.empty?
      .bs-callout.bs-callout-default
        %h4= t('.no_content')
    - else
      .page-header
        .btn-group
          = link_to "启用并发布菜单", nil, class: "btn btn-primary"
          = link_to "停用菜单", nil, class: "btn btn-default"
      = render @menus
