%h3.title-divider
  %span
    = t('.title')
.alert.alert-info{role: "alert"}
  %p
    = raw t('.note1')
  %p
    = raw t('.note2')

.row
  .col-md-5
    .iphone-menu
      .menu-parent
        .menu-level-one
          .menu-level-two-1
            .sub-menu
              test2
          .menu-level-two-2
            .sub-menu
              test1
          .sub-menu
            菜单一
        .menu-level-one
          .menu-level-two-1
            .sub-menu
              test2
          .menu-level-two-2
            .sub-menu
              test1
          .sub-menu
            菜单二
        .menu-level-one
          .menu-level-two-1
            .sub-menu
              test2
          .menu-level-two-2
            .sub-menu
              test1
          .sub-menu
            菜单一

  .col-md-7
    -# 添加一级菜单按钮
    = link_to t('.new_top_menu'), new_public_account_menu_path(@public_account), class: "btn btn-primary #{!@menus.empty? && @menus.count >= 3 ? 'disabled' : nil}", remote: true
    - if @menus.empty?
      .bs-callout.bs-callout-default
        %h4= t('.no_content')
    - else
      .page-header
        .btn-group
          = link_to "启用并发布菜单", nil, class: "btn btn-primary"
          = link_to "停用菜单", nil, class: "btn btn-default"
      = render @menus
