<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-3 col-md-offset-4 col-sm-8 col-sm-offset-2">
  <div class="panel panel-info" >
    <div class="panel-heading">
      <div class="panel-title">修改密码</div>
    </div>

    <div style="padding-top:30px" class="panel-body" >

      <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "loginform", class: "form-horizontal", role: "form" }) do |f| %>
        <%= devise_error_messages! %>
        <div style="margin-bottom: 25px" class="input-group">
          <span class="input-group-addon">原密码:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "请输入原密码" %>
        </div>
        <div style="margin-bottom: 25px" class="input-group">
          <span class="input-group-addon">新密码:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "请输入新密码" %>
        </div>
        <div style="margin-bottom: 25px" class="input-group">
          <span class="input-group-addon">确认新密码:</span>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "请输入确认新密码" %>
        </div>
        <div style="margin-top:10px" class="form-group">
          <!-- Button -->

          <div class="col-sm-12 controls">
            <%= f.submit "更新", class: "btn btn-primary", "data-disable-with" => "正在更新..." %>

          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
