<div class="col-md-5 center-block no-float">
  <div class="panel panel-default" >
    <div class="panel-heading">
      <div class="panel-title"><%= t('change_password') %></div>
    </div>

    <div style="padding-top:30px" class="panel-body" >

      <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "loginform", class: "form-horizontal", role: "form" }) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :email, class: "control-label col-sm-3" %>
          <div class="col-sm-6">
            <%= f.email_field :email, autocomplete: "off", class: "form-control", placeholder: "#{t('hit_email')}", required: true, autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password, class: "control-label col-sm-3" %>
          <div class="col-sm-6">
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "#{t('hit_password')}", required: true %>
            <p class="help-block"><% if @validatable %><i>(<%= t('minimum_password_length', :char => @minimum_password_length) %>)</i><% end %></p>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, class: "control-label col-sm-3" %>
          <div class="col-sm-6">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "#{t('hit_password_confirmation')}", required: true %>
          </div>
        </div>
        <div class="form-group">

          <div class="col-sm-offset-3 col-sm-6">
            <%= f.submit "#{t('save')}", class: "btn btn-primary", "data-disable-with" => "#{t('disable-with-save')}" %>

          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

