.container#goods-list
  .row
    .col-xs-6.goods-item
      .thumbnail
        = image_tag("tag_cloud.jpg")
        .caption
          %h5 商品标题测试测试商品长标题测试商ateatadfasssssssssssssssssssssssssssss
          %p.price RMB 1520
    .col-xs-6.goods-item
      .thumbnail
        = image_tag("tag_cloud.jpg")
        .caption
          %h5 商品标题测试测试商品长标题测试商ateatadfasssssssssssssssssssssssssssss
          %p.price RMB 1521
    .col-xs-6.goods-item
      .thumbnail
        = image_tag("tag_cloud.jpg")
        .caption
          %h5 商品标题测试测试商品长标题测试商ateatadfasssssssssssssssssssssssssssss
          %p.price RMB 1520
    .col-xs-6.goods-item
      .thumbnail
        = image_tag("tag_cloud.jpg")
        .caption
          %h5 商品标题测试测试商品长标题测试商ateatadfasssssssssssssssssssssssssssss
          %p.price RMB 1521
    .col-xs-6.goods-item
      .thumbnail
        = image_tag("tag_cloud.jpg")
        .caption
          %h5 商品标题测试测试商品长标题测试商ateatadfasssssssssssssssssssssssssssss
          %p.price RMB 1520
    .col-xs-6.goods-item
      .thumbnail
        = image_tag("tag_cloud.jpg")
        .caption
          %h5 商品标题测试测试商品长标题测试商ateatadfasssssssssssssssssssssssssssss
          %p.price RMB 1521
    .col-xs-6.goods-item
      .thumbnail
        = image_tag("tag_cloud.jpg")
        .caption
          %h5 商品标题测试测试商品长标题测试商ateatadfasssssssssssssssssssssssssssss
          %p.price RMB 1520
    .col-xs-6.goods-item
      .thumbnail
        = image_tag("tag_cloud.jpg")
        .caption
          %h5 商品标题测试测试商品长标题测试商ateatadfasssssssssssssssssssssssssssss
          %p.price RMB 1521

