
.container
  .row.good-list
    .col-xs-12
      .input-group
        %input.form-control{:type => "text"}/
        %span.input-group-btn
          %button.btn.btn-danger{:type => "button"}
            %span.glyphicon.glyphicon-search
            搜索

    .col-xs-12
      .col-xs-3
        %a.thumbnail
          = image_tag("tag_cloud.jpg")
      .col-xs-9.pull-right
        %p.title
          我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,
        %p.price
          价格: RMB 255
        %p.description
          205人评价  没有人好评

    .col-xs-12
      .col-xs-3
        %a.thumbnail
          = image_tag("tag_cloud.jpg")
      .col-xs-9.pull-right
        %p.title
          我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,
        %p.price
          价格: RMB 255
        %p.description
          205人评价  没有人好评
    .col-xs-12
      .col-xs-3
        %a.thumbnail
          = image_tag("tag_cloud.jpg")
      .col-xs-9.pull-right
        %p.title
          我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,
        %p.price
          价格: RMB 255
        %p.description
          205人评价  没有人好评
    .col-xs-12
      .col-xs-3
        %a.thumbnail
          = image_tag("tag_cloud.jpg")
      .col-xs-9.pull-right
        %p.title
          我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,
        %p.price
          价格: RMB 255
        %p.description
          205人评价  没有人好评
    .col-xs-12
      .col-xs-3
        %a.thumbnail
          = image_tag("tag_cloud.jpg")
      .col-xs-9.pull-right
        %p.title
          我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,
        %p.price
          价格: RMB 255
        %p.description
          205人评价  没有人好评
    .col-xs-12
      .col-xs-3
        %a.thumbnail
          = image_tag("tag_cloud.jpg")
      .col-xs-9.pull-right
        %p.title
          我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,
        %p.price
          价格: RMB 255
        %p.description
          205人评价  没有人好评
