#edit_sin.col-md-8.edit_sin_pic_text
  .inner.well
    = form_for [@public_account, @sin_material], html: { role: "form" } do |f|
      = render partial: "shared/form_error_messages", locals: {object: @sin_material}
      = fields_for "sin_material[sin_pic_text_attributes]", @sin_pic_text do |sin_pic_text|
        .form-group.padding-content
          = sin_pic_text.label :title, class: "col-sm-12 control-label required font-normal"
          .col-sm-12
            = sin_pic_text.text_field :title, class: "form-control"
        .form-group.padding-content
          = label_tag "thumb_image", t('activerecord.attributes.sin_pic_text.thumb'), class: "col-sm-12 control-label font-normal"
          .col-sm-12
            = file_field_tag "image", "data-url" => "/public_accounts/#{@public_account.id}/thumbs", "data-progress" => "progress_div", :class => "filestyle", "data-buttonText" => "#{t('choose_picture')}", "data-buttonBefore" => true
            #progress_div.progress.min-progress{style: "display: none;"}
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "1", :role => "progressbar", :style => "width: 0%;"}
        .form-group.padding-content
          = sin_pic_text.label :desc, class: "col-sm-12 control-label font-normal"
          .col-sm-12
            = sin_pic_text.text_area :desc, class: "form-control", rows: 5
        .form-group.padding-content
          = sin_pic_text.label :body, class: "col-sm-12 control-label required font-normal"
          .col-sm-12
            = sin_pic_text.text_area :body, class: "form-control"
        .col-sm-12
          = f.submit "#{t('save')}", class: "btn btn-primary", "data-disable-with" => "#{t('disable-with-save')}"
    %i.arrow_out
    %i.arrow_in
