%h3.title-divider
  %span
    = t('.title')
.alert.alert-info{role: "alert"}
  = t('.note')
%p.bg-success
%ul.nav.nav-tabs{role: "tablist"}
  %li{class: pic_text_tab?(controller_name) ? "active" : nil}
    = link_to t('.pic_text'), pic_text_public_account_path(@public_account)
  %li{class: "picture" == action_name ? "active" : nil}
    = link_to t('.picture'), picture_public_account_path(@public_account)
  %li{class: "audio" == action_name ? "active" : nil}
    = link_to t('.audio'), audio_public_account_path(@public_account)
  %li{class: "video" == action_name ? "active" : nil}
    = link_to t('.video'), video_public_account_path(@public_account)
