= render partial: "material/tab"
.panel.panel-default{style: "margin-top: 30px"}
  .panel-heading
    %h3.panel-title
      = t('.pic_text_count', count: @public_account.pic_text_count)
  .panel-body
    .col-md-6
      .btn-group.btn-group-lg
        = link_to new_public_account_sin_material_path(@public_account), class: "btn btn-default" do
          %i.fa.fa-plus-square-o
          = t('.add_sin_pic_text')
        = link_to multi_pic_text_public_account_path(@public_account), class: "btn btn-default" do
          %i.fa.fa-plus-square
          = t('.add_multi_pic_text')
    #pic_text_content.col-md-12
      = render partial: "sin_material", collection: @sin_materials, :as => :sin_material
