= render 'tab'
.panel.panel-default{style: "margin-top: 30px"}
  .panel-heading
    %h3.panel-title
      图文消息列表(共...)
  .panel-body
    .col-md-6
      = link_to sin_pic_text_public_account_path, class: "btn btn-default btn-lg" do
        %i.fa.fa-plus-square-o
        = t('.add_sin_pic_text')
      = link_to multi_pic_text_public_account_path, class: "btn btn-default btn-lg" do
        %i.fa.fa-plus-square
        = t('.add_multi_pic_text')
