= render 'tab'
.panel.panel-default{style: "margin-top: 30px"}
  .panel-heading
    %h3.panel-title
      = t('.title')
  .panel-body
    #edit_sin_preview.col-md-4.edit_sin_box
      %h4
        Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      .thumb
        %i.default
          = t('.thumb')
      .desc
        sss
    #edit_sin.col-md-8.edit_sin_pic_text
      .inner.well
        = form_for [@public_account, @sin_material], html: { role: "form" } do |f|
          = fields_for "sin_material[sin_pic_text_attributes]", @sin_pic_text do |sin_pic_text|
            .form-group.padding-content
              = sin_pic_text.label :title, class: "col-sm-12 control-label required"
              .col-sm-12
                = sin_pic_text.text_field :title, class: "form-control"
            .form-group.padding-content
              = sin_pic_text.label :desc, class: "col-sm-12 control-label required"
              .col-sm-12
                = sin_pic_text.text_area :desc, class: "form-control"
            .form-group.padding-content
              = sin_pic_text.label :body, class: "col-sm-12 control-label required"
              .col-sm-12
                = sin_pic_text.text_area :body, class: "form-control"
            .col-sm-12
              = f.submit "#{t('save')}", class: "btn btn-primary", "data-disable-with" => "#{t('disable-with-save')}"
      %i.arrow_out
      %i.arrow_in
