- if @publics.empty?

  %div.clearfix
    %a{href: "#{new_public_path}", class: "btn btn-success pull-right"}
      %span.glyphicon.glyphicon-plus
      = t('.add_public')
  .bs-callout.bs-callout-info
    %h4 暂无公众账号
- else
  .panel.panel-default
    .panel-heading= t('.list')
    .panel-body
      %a{href: "#{new_public_path}", class: "btn btn-success pull-right"}
        %span.glyphicon.glyphicon-plus
        = t('.add_public')
    %table.table.table-bordered#publics
      %tr
        %th.text-center 公众账号名称
        %th 创建时间
        %th 公众号类型
        %th{colspan: 3} 操作

      = render @publics
