.page-header
  %h3 公众账号绑定
/ panel preview
.alert.alert-info{role: "alert"}
  = t('.notice')
.panel.panel-default
  .panel-body.form-horizontal.payment-form
    = form_for @public do |f|
      = render partial: "shared/form_error_messages", locals: {object: @public}
      .form-group
        = f.label :name, class: "col-sm-3 col-xs-3 control-label"
        .col-sm-9.col-xs-9.required-field-block
          = f.text_field :name, class: "form-control"
          = required_icon
      .form-group
        = f.label :password, class: "col-sm-3 col-xs-3 control-label"
        .col-sm-9.col-xs-9.required-field-block
          = f.password_field :password, class: "form-control"
          = required_icon
      .form-group
        = f.label :tp, class: "col-sm-3 col-xs-3 control-label"
        .col-sm-9.col-xs-9
          = f.select :tp, options_for_select(Public::TP.invert), {include_blank: "请选择公众号类型"}, {:class => "form-control"}
      .form-group
        = f.label :image, class: "col-sm-3 col-xs-3 control-label"
        .col-sm-9.col-xs-9.styled
          .imagePreview
          = f.file_field :image, class: "form-control", onchange: "previewImage(this, [256], 4);"
          = f.hidden_field :image_cache
      .form-group
        .col-sm-offset-3.col-sm-9
          = f.submit "#{t('.submit')}", class: "btn btn-success"
