%p
  %b Name:
  = @public.name
%p
  %b Password:
  = @public.password
%p
  %b Type:
  = @public.tp
%p
  %b
  = image_tag @public.image_url.to_s

= link_to 'Edit', edit_public_path(@public)
\|
= link_to 'Back', publics_path
