%tr
  %td
    - if public_account_counter == 0
      .thumbnail.boot-tour{"data-bootstro-title" => t('.manage.title'), "data-bootstro-content" => t('.manage.content'), "data-bootstro-placement" => t('.manage.placement') , "data-bootstro-width" => "400px",  "data-bootstro-step" => t('.manage.step')}
        %a{href: public_account_path(public_account)}
          = image_tag public_account.image_url(:thumb).to_s, size: "150"
    - else
      .thumbnail
        %a{href: public_account_path(public_account)}
          = image_tag public_account.image_url(:thumb).to_s, size: "150"
    .text-center.text-info
      = public_account.name
  %td= public_account.created_at.to_time.strftime('%Y-%m-%d %H:%M:%S')

  %td= PublicAccount::TP[public_account.tp]
  %td
    .btn-group.btn-group-xs
      %a{href: public_account_path(public_account), class: "btn btn-default"}
        %span.fa.fa-cog.fa-spin
        = t('manage')
      %a{href: edit_public_account_path(public_account), class: "btn btn-info"}
        %span.glyphicon.glyphicon-edit
        = t('edit')
      = link_to delete_public_account_path(public_account), class: "btn btn-danger", remote: true do
        %span.glyphicon.glyphicon-remove
        = t('delete')
