%tr
  %td
    - if public_account_counter == 0
      .thumbnail.boot-tour{data: {"bootstro-title" => t('.manage.title'), "bootstro-content" => t('.manage.content'), "bootstro-placement" => t('.manage.placement') , "bootstro-width" => "400px",  "bootstro-step" => t('.manage.step')}}
        %a{href: public_account_path(public_account)}
          = image_tag public_account.image_url(:thumb).to_s, size: "150"
    - else
      .thumbnail
        %a{href: public_account_path(public_account)}
          = image_tag public_account.image_url(:thumb).to_s, size: "150"
    .text-center.text-info
      = public_account.name
  %td= I18n.localize(public_account.created_at, :format => :long)

  %td= PublicAccount::TP[public_account.tp]
  %td
    .btn-group.btn-group-sm
      = link_to public_account_path(public_account), class: "btn btn-default" do
        %span.fa.fa-cog.fa-spin
        = t('manage')
      = link_to edit_public_account_path(public_account), class: "btn btn-info" do
        %span.glyphicon.glyphicon-edit
        = t('edit')
      = link_to delete_public_account_path(public_account), class: "btn btn-danger", remote: true do
        %span.glyphicon.glyphicon-remove
        = t('delete')
