.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close
  %h4#mymodal.modal-title= t('weixin_dev_title')
.modal-body
  %p
    %strong= t('activerecord.attributes.public_account.weixin_secret_key')
    = weixin_server_url(@public_account.weixin_secret_key)
  %p
    %strong= t('activerecord.attributes.public_account.weixin_token')
    = @public_account.weixin_token
  - if @public_account.appid.present?
    %p
      %strong= t('activerecord.attributes.public_account.appid')
      = @public_account.appid
  - if @public_account.appsecret.present?
    %p
      %strong= t('activerecord.attributes.public_account.appsecret')
      = @public_account.appsecret
.modal-footer
  %button{type: "button", class: "btn btn-default", "data-dismiss" => "modal"}
    = t('close')
