.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close
  %h4#mymodal.modal-title= t('weixin_dev_title')
.modal-body
  %p
    %strong= PublicAccount.human_attribute_name('weixin_secret_key')
    = weixin_server_url(@public_account.weixin_secret_key)
  %p
    %strong= PublicAccount.human_attribute_name('weixin_token')
    = @public_account.weixin_token
.modal-footer
  %button{type: "button", class: "btn btn-default", "data-dismiss" => "modal"}
    = t('close')
