- if @public_accounts.empty?

  .text-right.boot-tour{data:{"bootstro-title" => t('.append.title'), "bootstro-content" => t('.append.content'), "bootstro-placement" => t('.append.placement') , "bootstro-width" => "400px",  "bootstro-step" => t('.append.step')}}
    = link_to new_public_account_path, class: "btn btn-primary" do
      %span.glyphicon.glyphicon-plus
      = t('.add')
  .bs-callout.bs-callout-default
    %h4= t('.no_content')
  :coffee
    $(document).ready ->
      unless $.cookie("no_public_account_guide_#{current_user.id}", Boolean)
        showGuide ".boot-tour",
          onExit: ->
            $.cookie "no_public_account_guide_#{current_user.id}", true,
              expires: 30
- else
  %h3.title-divider
    %span
      = t('.list')
  %p.text-right
  .panel.panel-default
    .panel-body
      .text-right
        = link_to new_public_account_path, class: "btn btn-primary marginright5" do
          %span.glyphicon.glyphicon-plus
          = t('.add')
        %a#need-help.btn.btn-primary{"title" => t('how_to_manage_public_account'), "target" => "_blank", data: {"toggle" => "tooltip", "placement" => "top", "tooltip" => true}}
          %i.fa.fa-question
    %table.table.table-bordered.public_account_thumbs
      %tr
        %th.text-center= PublicAccount.human_attribute_name('name')
        %th= t('created_at')
        %th= PublicAccount.human_attribute_name('tp')
        %th{colspan: 3}= t('operation')

      = render @public_accounts

  :coffee
    $(document).ready ->
      $("#need-help").on "click", ->
        showGuide(".boot-tour")
