.panel.panel-default
  .panel-heading
    %h3.panel-title= t('base_info')
  .panel-body
    .row
      .col-md-3
        %a.thumbnail
          = image_tag @public_account.image_url(:thumb).to_s
      .col-md-9
        %table.table.table-user-information
          %tbody
            %tr
              %td= PublicAccount.human_attribute_name('name')
              %td= @public_account.name
            %tr
              %td= t('created_at')
              %td= @public_account.created_at.to_time.strftime('%Y-%m-%d %H:%M:%S')
            %tr
              %td= PublicAccount.human_attribute_name('tp')
              %td= PublicAccount::TP[@public_account.tp]
  .panel-footer.clearfix
    %span.pull-right
      %a.btn.btn-sm.btn-info{"title" => "#{t('edit')}", "data-toggle" => "tooltip", :href => "#{edit_public_account_path(@public_account)}", :type => "button", "data-placement" => "top", "data-tooltip" => true}
        %i.glyphicon.glyphicon-edit
      %a.btn.btn-sm.btn-danger{"title" => "#{t('delete')}", "data-toggle" => "tooltip", :type => "button", "data-confirm" => t('.delete_tip') , :href => "#{public_account_path(@public_account)}", "data-method" => "delete", "data-placement" => "top", "data-tooltip" => true}
        %i.glyphicon.glyphicon-remove

.panel.panel-default
  .panel-heading
    %h3.panel-title= t('.develop_center')

  .panel-body
    .row
      .col-md-12
        .bs-callout.bs-callout-info
          %h4= t('.weixin_dev_title')
          %p.text-muted= t('.weixin_dev_des')
          %p
            %button{:class => "btn btn-info", :id => "display-dev-info"}
              = t('.weixin_dev_btn')
          .popover.bottom.custom-popover{style: "display: none;"}
            .arrow
            %h3.popover-title= t('.weixin_dev_title')
            .popover-content
              %p
                %strong= PublicAccount.human_attribute_name('weixin_secret_key')
                = weixin_server_url(@public_account.weixin_secret_key)
              %p
                %strong= PublicAccount.human_attribute_name('weixin_token')
                = @public_account.weixin_token

:javascript
  $(document).on("page:change", function() {
    $("#display-dev-info").on('click', function() {
      $(this).parent().next(".popover").toggle('fast');
    })
  });
