- if @weixin_customs.blank?
  .bs-callout.bs-callout-default
    %h4= raw t("access_token_error", public_account_id: @public_account.id)
- else
  .text-right.marginbottom20
    = link_to new_public_account_weixin_custom_path(@public_account), class: "btn btn-primary", remote: true do
      %span.glyphicon.glyphicon-plus
      = t('.add')
  %table.table.table-bordered.public_account_thumbs
    %tr
      %th= t('.kf_account')
      %th= t('.kf_nick')
      %th= t('.kf_id')
      %th= t('.operation')
    = render partial: "weixin_custom", collection: @weixin_customs