- cache notification do
  .media.clearfix.padding15.border-top
    .media-heading.pull-left
      %a.media-left
      = image_tag notification.user.avatar_url(:normal).to_s
    .media-body.clearfix
      %small.pull-right.text-muted
        = I18n.localize(notification.created_at, :format => :long)
      %h4.media-heading
        - case notification.tp
        - when "system"
          = t('.system_notice')
          = notification.subject
        - when "ticket_comment"
          = raw notification.subject
      = notification.body