.modal-dialog
  .modal-content
    .modal-header
      %h1.text-center= t('reset_password')
    .modal-body.clearfix
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-horizontal", role: "form" }) do |f|
        = devise_error_messages!
        %p.text-muted= t('password_new_tip')
        .input-group
          %span.input-group-addon
            %i.glyphicon.glyphicon-user
          = f.email_field :email, autofocus: true, id: "login-username", class: "form-control input-lg", placeholder: t('email')
        .form-group.margintop20
          .col-sm-12.controls
            = f.submit t('sumbit'), id: "btn-login", class: "btn btn-primary btn-lg btn-block", "data-disable-with" => t('disable-with-submit')
