.col-md-4.element-hidden.left
  .card-container
    .card
      .front
        .cover
          = image_tag("rotating-card/rotating_card_thumb.jpg")
        .user
          = image_tag("tag_cloud.jpg")
        .content
          %h4.media-heading
            微场景——更好的连接你、我、他。！
          %p.text-muted.indentation
            在当下，时间逐步碎片化，移动应用也逐渐场景化，微信，逐渐成为一种生活方式。微场景则好似生活中的插播，宣传方式的独特，只为一个目的——更好的连接你、我、他。
      .back
        .header
          %h5.motto
            微场景——更好的连接你、我、他。！
        .content
          %p.text-muted.indentation
            在当下，时间逐步碎片化，移动应用也逐渐场景化，微信，逐渐成为一种生活方式。微场景则好似生活中的插播，宣传方式的独特，只为一个目的——更好的连接你、我、他。

.col-md-4.element-hidden.up
  .card-container
    .card
      .front
        .cover
          = image_tag("rotating-card/rotating_card_thumb.jpg")
        .user
          = image_tag("tag_cloud.jpg")
        .content
          %h4.media-heading
            微官网:快速帮用户打造超炫微信移动网站
          %p.text-muted
            %p.text-muted.indentation
              微媒全国首创微信3G网站，用户只要通过简单的设置，就能快速生成属于您自己的微信3G网站，并且有各种精美模板，可供选择，还有自定义模版，可以设计出自己的风格，让您的粉丝有种惊艳的感觉。在微媒官方微信号输入"首页"体验微信3G网站。
      .back
        .header
          %h5.motto
            微官网:快速帮用户打造超炫微信移动网站
        .content
          %p.text-muted.indentation
            微媒全国首创微信3G网站，用户只要通过简单的设置，就能快速生成属于您自己的微信3G网站，并且有各种精美模板，可供选择，还有自定义模版，可以设计出自己的风格，让您的粉丝有种惊艳的感觉。在微媒官方微信号输入"首页"体验微信3G网站。

.col-md-4.element-hidden.right
  .card-container
    .card
      .front
        .cover
          = image_tag("rotating-card/rotating_card_thumb.jpg")
        .user
          = image_tag("tag_cloud.jpg")
        .content
          %h4.media-heading
            微媒旺铺：打造微信移动电商
          %p.text-muted.indentation
            微媒旺铺重磅来袭！全新设计、全新风格、全新体验！微媒旺铺拥有更个性的店铺装修、更强大的SCRM系统、更完善的基础交易系统、更丰富的微信游戏互动、更良好的营销插件、更便捷的订单处理、更全的支付体验！
      .back
        .header
          %h5.motto
            微媒旺铺：打造微信移动电商
        .content
          %p.text-muted
            微媒旺铺重磅来袭！
            %br/
            全新设计、全新风格、全新体验！
            %br/
            微媒旺铺拥有更个性的店铺装修！
            %br/
            更强大的SCRM系统！
            %br/
            更完善的基础交易系统！
            %br/
            更丰富的微信游戏互动！
            %br/
            更良好的营销插件！
            %br/
            更便捷的订单处理！
            %br/
            更全的支付体验！
            %br/

.col-md-4.element-hidden.left
  .card-container
    .card
      .front
        .cover
          = image_tag("rotating-card/rotating_card_thumb.jpg")
        .user
          = image_tag("tag_cloud.jpg")
        .content
          %h4.media-heading
            微客服：沟通6亿用户、创造无限商机
          %p.text-muted.indentation
            随着互联网的发展及网络营销模式重要性的凸显，在线客服系统 会成为网络营销的重要工具，也是提升企业形象、加强企业与访客互动的必备工具；如今，微信迅速崛起，商家都把店铺搬进了 公众账号，而微媒微客服系统，就是一款为微信商家打造的实时 沟通软件，让商家可以分享微信6亿用户，创造无限商机。
      .back
        .header
          %h5.motto
            微客服：沟通6亿用户、创造无限商机
        .content
          %p.text-muted.indentation
            随着互联网的发展及网络营销模式重要性的凸显，在线客服系统 会成为网络营销的重要工具，也是提升企业形象、加强企业与访客互动的必备工具；如今，微信迅速崛起，商家都把店铺搬进了 公众账号，而微媒微客服系统，就是一款为微信商家打造的实时 沟通软件，让商家可以分享微信6亿用户，创造无限商机。

.col-md-4.element-hidden.down
  .card-container
    .card
      .front
        .cover
          = image_tag("rotating-card/rotating_card_thumb.jpg")
        .user
          = image_tag("tag_cloud.jpg")
        .content
          %h4.media-heading
            微媒SDP ！
          %p.text-muted
            %p.text-muted.indentation
              SDP(Social Distribution Platform)，微媒社会化分销平台，零售业全渠道电商整体解决方案,致力于帮助传统零售企业搭建新一代微商分销体系，可以实现线上线下互通，去中心化流量聚合，客户粉丝沉淀等。
      .back
        .header
          %h5.motto
            微媒SDP ！
        .content
          %p.text-muted.indentation
            SDP(Social Distribution Platform)，微媒社会化分销平台，零售业全渠道电商整体解决方案,致力于帮助传统零售企业搭建新一代微商分销体系，可以实现线上线下互通，去中心化流量聚合，客户粉丝沉淀等。

.col-md-4.element-hidden.right
  .card-container
    .card
      .front
        .cover
          = image_tag("rotating-card/rotating_card_thumb.jpg")
        .user
          = image_tag("tag_cloud.jpg")
        .content
          %h4.media-heading
            微媒APP——商家的移动客户端
          %p.text-muted.indentation
            实时聊天-打通微客服，随时随地与公众号用户沟通。
            订单实时处理-及时获取订单消息，手机快速处理，不会漏掉每一比生意。
      .back
        .header
          %h5.motto
            微媒APP——商家的移动客户端
        .content
          .main
            1.实时聊天-打通微客服，随时随地与公众号用户沟通。
            %br/
            2.订单实时处理-及时获取订单消息，手机快速处理，不会漏掉每一比生意。
            %br/
            3.会员交易动态-跟踪核心用户的消费信息，及时了解交易动态。
            %br/
            4.微媒动态及时获取-微媒公告权威发布，掌握最新服务信息。
            %br/
            5.帐户状态实时掌握-提前了解套餐期限及增值服务等讯息，有效避免此类事情对企业造成影响。
            %br/
            6.多账号针对性管理-微媒账号登录管理所有公众号消息，工号登录管理对应公众账号的消息，让不同帐号登录有不同权限，并针对性管理。
            %br/
