.tableCell
  .section-inner
    .left-section
      .circle-wrapper
        .blue.doted-circle.circling
        .blue.filled-circle
          .table-wrapper.frame-2-2.hidden
            .word-wrapper
              = image_tag("coding/c6e91970cd4ed6d3d75f1ba027a51480.png", :class => "part-1")
              %h2 多人协作
          .table-wrapper.frame-2-3.hidden
            .word-wrapper.magictime.openDownRightOut
              = image_tag("coding/87f1baf73a3130d273c36cd2f1e7b452.png", :class => "part-1")
              %h2 平台托管
          .table-wrapper.frame-2-4.hidden
            .word-wrapper.magictime.openUpLeftOut
              = image_tag("coding/eb783668c50d9fb69f1559470264c0e3.png", :class => "part-1")
              %h2
                云端同步
                %br>/
                (Paas)
          .table-wrapper.frame-2-5.hidden
            .word-wrapper.magictime.swashOut
              = image_tag("coding/15fc474671ffd6f88773924b97610634.png", :class => "part-1")
              %h2 质量控制
          .table-wrapper.frame-2-6.hidden
            = image_tag("coding/4579875e7d66b84fa4e96119356cb034.png", :class => "part-1")
            = image_tag("coding/b0e596561669088619b6adfb4a20e1dd.png", :class => "part-2")
            = image_tag("coding/08b1573ac84744faa5e963059b1d18d1.png", :class => "part-3")
            = image_tag("coding/d657cd3da45603b60b2c578a8095031f.png", :class => "part-4")
            = image_tag("coding/7d2ba4136e2368c09ea0879107f89189.png", :class => "part-5")
            .word-wrapper
              = image_tag("coding/eb783668c50d9fb69f1559470264c0e3.png",  :class => "frame-2-6-2")
              = image_tag("coding/9383ecf417be779e10905fe3521118af.png",  :class => "frame-2-6-1")
    .right-section
      .article-wrapper.frame-2
        %h1 微媒的特点
        %p
          微媒提供:
          %br/
          以云计算技术为基础
          %br/
          多人协作、多端控制、操作简单、界面简约、
          %br/
          平台托管、云端同步（PaaS）、质量控制等功能；
          %br/
