
#fullpage
  .section
    .row.frame-1
      .col-md-4.element-hidden.left
        .card-container
          .card
            .front
              .cover
                = image_tag("rotating-card/rotating_card_thumb.jpg")
              .user
                = image_tag("tag_cloud.jpg")
              .content
                %h4.media-heading
                  不用等辛苦数天之后课程完成再发布出来了。
                %p.text-muted
                  不用等辛苦数天之后课程完成再发布出来了。
                  我们鼓励将制作好的那部分视频尽早上传...
            .back
              .header
                %h5.motto
                  不用等辛苦数天之后课程完成再发布出来了。
              .content
                %p.text-muted
                  不用等辛苦数天之后课程完成再发布出来了。
                  我们鼓励将制作好的那部分视频尽早上传
                  以1-5分钟微视频的方式发布，接受用户的反馈让课程更完美
                  不用等辛苦数天之后课程完成再发布出来了。
                  我们鼓励将制作好的那部分视频尽早上传
                  以1-5分钟微视频的方式发布，接受用户的反馈让课程更完美

      .col-md-4.element-hidden.up
        .card-container
          .card
            .front
              .cover
                = image_tag("rotating-card/rotating_card_thumb.jpg")
              .user
                = image_tag("tag_cloud.jpg")
              .content
                %h4.media-heading
                  不用等辛苦数天之后课程完成再发布出来了。
                %p.text-muted
                  %p.text-muted
                    不用等辛苦数天之后课程完成再发布出来了。
                    我们鼓励将制作好的那部分视频尽早上传
                    以1-5分钟微视频的方式发布，接受用户的反馈让课程更完美
            .back
              .header
                %h5.motto
                  不用等辛苦数天之后课程完成再发布出来了。
              .content
                .main
                  不用等辛苦数天之后课程完成再发布出来了。
                  我们鼓励将制作好的那部分视频尽早上传
                  以1-5分钟微视频的方式发布，接受用户的反馈让课程更完美

      .col-md-4.element-hidden.right
        .card-container
          .card
            .front
              .cover
                = image_tag("rotating-card/rotating_card_thumb.jpg")
              .user
                = image_tag("tag_cloud.jpg")
              .content
                %h4.media-heading
                  标题
                %p.text-muted
                  不用等辛苦数天之后课程完成再发布出来了。
                  我们鼓励将制作好的那部分视频尽早上传
                  以1-5分钟微视频的方式发布，接受用户的反馈让课程更完美
            .back
              .header
                %h5.motto
                  标题
              .content
                .main
                  不用等辛苦数天之后课程完成再发布出来了。
                  我们鼓励将制作好的那部分视频尽早上传
                  以1-5分钟微视频的方式发布，接受用户的反馈让课程更完美

      .col-md-4.element-hidden.left
        .card-container
          .card
            .front
              .cover
                = image_tag("rotating-card/rotating_card_thumb.jpg")
              .user
                = image_tag("tag_cloud.jpg")
              .content
                %h4.media-heading
                  不用等辛苦数天之后课程完成再发布出来了。
                %p.text-muted
                  不用等辛苦数天之后课程完成再发布出来了。
                  我们鼓励将制作好的那部分视频尽早上传...
            .back
              .header
                %h5.motto
                  不用等辛苦数天之后课程完成再发布出来了。
              .content
                %p.text-muted
                  不用等辛苦数天之后课程完成再发布出来了。
                  我们鼓励将制作好的那部分视频尽早上传
                  以1-5分钟微视频的方式发布，接受用户的反馈让课程更完美
                  不用等辛苦数天之后课程完成再发布出来了。
                  我们鼓励将制作好的那部分视频尽早上传
                  以1-5分钟微视频的方式发布，接受用户的反馈让课程更完美

      .col-md-4.element-hidden.down
        .card-container
          .card
            .front
              .cover
                = image_tag("rotating-card/rotating_card_thumb.jpg")
              .user
                = image_tag("tag_cloud.jpg")
              .content
                %h4.media-heading
                  不用等辛苦数天之后课程完成再发布出来了。
                %p.text-muted
                  %p.text-muted
                    不用等辛苦数天之后课程完成再发布出来了。
                    我们鼓励将制作好的那部分视频尽早上传
                    以1-5分钟微视频的方式发布，接受用户的反馈让课程更完美
            .back
              .header
                %h5.motto
                  不用等辛苦数天之后课程完成再发布出来了。
              .content
                .main
                  不用等辛苦数天之后课程完成再发布出来了。
                  我们鼓励将制作好的那部分视频尽早上传
                  以1-5分钟微视频的方式发布，接受用户的反馈让课程更完美

      .col-md-4.element-hidden.right
        .card-container
          .card
            .front
              .cover
                = image_tag("rotating-card/rotating_card_thumb.jpg")
              .user
                = image_tag("tag_cloud.jpg")
              .content
                %h4.media-heading
                  标题
                %p.text-muted
                  不用等辛苦数天之后课程完成再发布出来了。
                  我们鼓励将制作好的那部分视频尽早上传
                  以1-5分钟微视频的方式发布，接受用户的反馈让课程更完美
            .back
              .header
                %h5.motto
                  标题
              .content
                .main
                  不用等辛苦数天之后课程完成再发布出来了。
                  我们鼓励将制作好的那部分视频尽早上传
                  以1-5分钟微视频的方式发布，接受用户的反馈让课程更完美

  .section.table
    .tableCell
      .section-inner
        .left-section
          .circle-wrapper
            .blue.doted-circle.circling
            .blue.filled-circle
              .table-wrapper.frame-2-2.hidden
                .word-wrapper
                  = image_tag("coding/c6e91970cd4ed6d3d75f1ba027a51480.png", :class => "part-1")
                  %h2 项目协作
              .table-wrapper.frame-2-3.hidden
                .word-wrapper.magictime.openDownRightOut
                  = image_tag("coding/87f1baf73a3130d273c36cd2f1e7b452.png", :class => "part-1")
                  %h2 代码托管
              .table-wrapper.frame-2-4.hidden
                .word-wrapper.magictime.openUpLeftOut
                  = image_tag("coding/eb783668c50d9fb69f1559470264c0e3.png", :class => "part-1")
                  %h2
                    运行空间
                    %br>/
                    (Paas)
              .table-wrapper.frame-2-5.hidden
                .word-wrapper.magictime.swashOut
                  = image_tag("coding/15fc474671ffd6f88773924b97610634.png", :class => "part-1")
                  %h2 质量控制
              .table-wrapper.frame-2-6.hidden
                = image_tag("coding/4579875e7d66b84fa4e96119356cb034.png", :class => "part-1")
                = image_tag("coding/b0e596561669088619b6adfb4a20e1dd.png", :class => "part-2")
                = image_tag("coding/08b1573ac84744faa5e963059b1d18d1.png", :class => "part-3")
                = image_tag("coding/d657cd3da45603b60b2c578a8095031f.png", :class => "part-4")
                = image_tag("coding/7d2ba4136e2368c09ea0879107f89189.png", :class => "part-5")
                .word-wrapper
                  = image_tag("coding/eb783668c50d9fb69f1559470264c0e3.png",  :class => "frame-2-6-2")
                  = image_tag("coding/9383ecf417be779e10905fe3521118af.png",  :class => "frame-2-6-1")
        .right-section
          .article-wrapper.frame-2
            %h1 云端开发方式
            %p
              以云计算技术为基础，Coding 提供：
              %br/
              项目协作、代码托管、运行空间（PaaS）、质量控制等功能；
              %br/
              环境搭建、测试部署，全部交给云端完成，您只负责安心编程。
              %br/

  .section
    .tableCell
      .section-inner
        .left-section
          .article-wrapper
            %h1 云端开发方式
            %p.show
              以云计算技术为基础，Coding 提供：
              %br/
              项目协作、代码托管、运行空间（PaaS）、质量控制等功能；
              %br/
              环境搭建、测试部署，全部交给云端完成，您只负责安心编程。
              %br/
        .right-section
          .circle-wrapper
            .red.doted-circle.circling
            .red.filled-circle
              .table-wrapper
                .word-wrapper
                  = image_tag("coding/c6e91970cd4ed6d3d75f1ba027a51480.png", :class => "part-1")
                  %h2 项目协作

  .section
    .tableCell
      .section-inner
        .left-section
          .circle-wrapper
            .green.doted-circle.circling
            .green.filled-circle
              .table-wrapper
                .word-wrapper
                  = image_tag("coding/c6e91970cd4ed6d3d75f1ba027a51480.png", :class => "part-1")
                  %h2 项目协作
        .right-section
          .article-wrapper
            %h1 云端开发方式
            %p.show
              以云计算技术为基础，Coding 提供：
              %br/
              项目协作、代码托管、运行空间（PaaS）、质量控制等功能；
              %br/
              环境搭建、测试部署，全部交给云端完成，您只负责安心编程。
              %br/

  .section
    .row.callme
      .col-md-12#two-top.element-hidden
        .text-center
          %h1
            = t("callme")
          %p For more info and support, contact us!
    .row
      .col-md-12.margintop20
        .col-md-7.col-sm-7#two-left.element-hidden
          = form_for @contact, html: {class: "form-horizontal"}, remote: true do |f|
            .form-group
              = f.text_field :name, class: "form-control round-text-input", required: true, placeholder: t('callme_name')
            .form-group
              = f.email_field :email, class: "form-control round-text-input", required: true, placeholder: t('callme_email')
            .form-group
              = f.phone_field :phone, class: "form-control round-text-input", required: true, placeholder: t('callme_phone')
            .form-group
              = f.text_area :phone, class: "form-control round-text-input", required: true, placeholder: t('callme_message'), cols: "30", rows: "10"
            .form-group
              = f.submit t('sumbit'), class: "btn btn-primary btn-lg round-primary-btn", "data-disable-with" => t('disable-with-submit')
        .col-md-5.col-sm-5#two-right.element-hidden
          .media
            .pull-left
              %i.fa.fa-map-marker.fa-2x.round-border
            .media-body
              %h4.media-heading.paddingtop15= Settings.office_address
          .media
            .pull-left
              %i.fa.fa-envelope.fa-2x.round-border
            .media-body
              %h4.media-heading.paddingtop15
                %a{:href => "mailto:#{Settings.office_email}"}= Settings.office_email
          .media
            .pull-left
              %i.fa.fa-phone.fa-2x.round-border
            .media-body.paddingtop15
              %h4.media-heading= Settings.office_phone_number
  .section
    .panel.panel-default
      .panel-heading.background-color-none.clearfix#three-1
        %a.btn.btn-danger.pull-right
          清空
        %h4
          通知提醒
          %small
            (1 条)
      .panel-body
        .media.clearfix.padding15.border-top#three-2
          .media-heading.pull-left
            %a.media-left{:href => "#"}
            = image_tag("avatar.png")
          .media-body.clearfix
            %small.pull-right.text-muted
              2014-11-22 18:07:05
            %h4.media-heading
              %a{:href => "#"}
                XXX
              论了你的
              %a{:href => "#"}
                XXX
              文章
            内容简介
        .media.clearfix.padding15.border-top#three-3
          .media-heading.pull-left
            %a.media-left{:href => "#"}
            = image_tag("avatar.png")
          .media-body.clearfix
            %small.pull-right.text-muted
              2014-11-22 18:07:05
            %h4.media-heading
              %a{:href => "#"}
                XXX
              论了你的
              %a{:href => "#"}
                XXX
              文章
            内容简介

:javascript
  $(document).ready(function(){
    $("#fullpage").fullpage({
      navigation: true,
      navigationPosition: 'right',
      navigationTooltips: ['firstSlide', 'secondSlide', 'threeSlide'],
      scrollingSpeed: 250,
      afterLoad: function(anchorLink, index) {
        itv && (clearTimeout(itv), itv = null),
          doAnimation(index, 1);
      },
    });
    doAnimation(1, 1);
  });

