= form_for @ticket, html: {class: "form-horizontal"} do |f|
  = render partial: "shared/form_error_messages", locals: {object: @ticket}
  -# 生成编号
  = f.hidden_field :number, value: @ticket.try(:number) || generate_number
  .form-group
    = f.label :title, class: "col-sm-3 control-label required"
    .col-sm-6
      = f.text_field :title, class: "form-control", required: true, autofocus: true
  .form-group
    = f.label :body, class: "col-sm-3 control-label required"
    .col-sm-6
      = f.text_area :body, class: "form-control", required: true, rows: 9
  .form-group
    .col-sm-6.col-sm-push-3
      = f.submit t('save'), class: "btn btn-primary", "data-disable-with" => t('disable-with-save')