%tr
  %td= ticket.number
  %td= link_to ticket.title, ticket_path(ticket)
  %td= Ticket::Status[ticket.status.to_i]
  %td= I18n.localize(ticket.created_at, :format => :long)
  %td= I18n.localize(ticket.updated_at, :format => :long)
  - if current_user.can_admin?
    %td= current_user.email