%tr
  %td= ticket.number
  %td= link_to ticket.title, ticket_path(ticket)
  %td= Ticket::Status[ticket.status.to_i]
  %td= ticket.created_at.to_time.strftime('%Y-%m-%d %H:%M:%S')
  %td= ticket.updated_at.to_time.strftime('%Y-%m-%d %H:%M:%S')