.panel.panel-default
  .panel-heading.background-color-none
    = @ticket.title
  .panel-body
    .media.clearfix.padding15
      %a.media-left.pull-left
        = image_tag @ticket.user.avatar_url(:normal).to_s
      .media-body.clearfix
        %small.pull-right.text-muted
          = @ticket.created_at.to_time.strftime('%Y-%m-%d %H:%M:%S')
        %h4.media-heading
          = @ticket.user.email
        = @ticket.body

- unless @comments.empty?
  .panel.panel-default
    .panel-heading.background-color-none
      = t("reply")
    .panel-body.comments-body
      = render @comments
      .text-right
        = paginate @comments

= form_for [@ticket, @comment], html: {class: "form-horizontal"}, remote: true do |f|
  .form-group
    .col-sm-12
      = f.text_area :body, class: "form-control", rows: 5, placeholder: t('.input_reply')
  .form-group
    .col-sm-12
      = f.submit t('save'), class: "btn btn-primary", "data-disable-with" => t('disable-with-save')