.panel.panel-default
  .panel-heading
    = @ticket.title
  .panel-body
    %a.col-md-1
      %img{src: "/assets/avatar.png", href: "#", style: "width: 64px; height: 64px;"}
    .col-md-11
      %h4.margin0
        = @ticket.user.email
        %span.small.pull-right
          = @ticket.created_at.to_time.strftime('%Y-%m-%d %H:%M:%S')
      = @ticket.body

.panel.panel-default
  .panel-heading
    å›å¤
  .panel-body
    .list-group.custom
      .li
        %a.col-md-1
          %img{src: "/assets/avatar.png", href: "#", style: "width: 64px; height: 64px;"}
        .col-md-11
          %h4.margin0
            teset
            %span.small.pull-right
              test
          test
        .clearfix
      .li
        %a.col-md-1
          %img{src: "/assets/avatar.png", href: "#", style: "width: 64px; height: 64px;"}
        .col-md-11
          %h4.margin0
            teset
            %span.small.pull-right
              test
          test
        .clearfix


.panel.panel-default
  .panel-heading
    = @ticket.title
  .panel-body
    %a.col-md-1
      %img{src: "/assets/avatar.png", href: "#", style: "width: 64px; height: 64px;"}
    .col-md-11
      %form{href: "#"}
        .form-group
          %h4.margin0
            User name
        .form-group
          = text_area_tag "test", nil, class: "form-control", rows: 5
        .form-group
          %input.btn.btn-primary{:type => "submit"}

