%h3.title-divider
  %span
    = t('.title')
.alert.alert-info{role: "alert"}
  %p
    = raw t('.note1')
  %p
    = raw t('.note2')

.row
  .col-md-5.iphone-menu

  .col-md-7
    - if @client.is_valid?

      .page-header
        = link_to "启用并发布菜单", nil, class: "btn btn-primary"
        = link_to "停用菜单", nil, class: "btn btn-danger"
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            1. 每一菜单
        .panel-body
          .form-group
            %label{class: "control-label col-sm-12"}
              菜单名称
            .col-sm-4
              %input{type: "text", class: "form-control"}
            .col-sm-8
              .btn-group
                = link_to "设置动作", nil, class: "btn btn-default"
                = link_to "添加子菜单", nil, class: "btn btn-primary"
            .col-sm-12
              .help-block
                一级菜单最多4个汉字
        .panel-footer.text-right
          = link_to "保存", nil, class: "btn btn-success"

      .panel.panel-default
        .panel-heading
          %h3.panel-title
            1. 每一菜单
        .panel-body
          .form-group
            %label{class: "control-label col-sm-12"}
              菜单名称
            .col-sm-4
              %input{type: "text", class: "form-control"}
            .col-sm-8
              .btn-group
                = link_to "设置动作", nil, class: "btn btn-default"
                = link_to "添加子菜单", nil, class: "btn btn-primary"
        .panel-footer.text-right
          = link_to "保存", nil, class: "btn btn-success"
    - else
      .bs-callout.bs-callout-default
        %h4= raw t('.no_content', edit_public_account_path: edit_public_account_path(@public_account))