#edit_sin.col-md-8.edit_sin_pic_text
  .inner.well.clearfix
    = form_for [@public_account, @sin_material], html: { role: "form", "data-bv-feedbackicons-valid" => "glyphicon glyphicon-ok", "data-bv-feedbackicons-invalid" => "glyphicon glyphicon-remove", "data-bv-feedbackicons-validating" => "glyphicon glyphicon-refresh" } do |f|
      = render partial: "shared/form_error_messages", locals: {object: @sin_material}
      = f.fields_for :sin_pic_text do |sin_pic_text|
        -# 标题
        .form-group.padding-content
          = sin_pic_text.label :title, class: "col-sm-12 control-label required font-normal"
          .col-sm-12
            = sin_pic_text.text_field :title, class: "form-control", required: true, "data-bv-stringlength" => "true", "data-bv-stringlength-max" => 64
        -# 封面图片
        .form-group.padding-content
          = label_tag "thumb_image", t('activerecord.attributes.sin_pic_text.thumb'), class: "col-sm-12 control-label font-normal required"
          .col-sm-12.clearfix
            .pull-left.marginright10
              = file_field_tag "image", "data-url" => public_account_thumbs_path(@public_account), "data-progress" => "progress_div", :class => "filestyle", "data-buttonText" => t('choose_picture'), "data-buttonBefore" => true, "data-input" => false
            .pull-left
              = link_to t('.select_btn'), select_thumb_material_public_account_path(@public_account), class: "btn btn-default", remote: true
            .clearfix
            = sin_pic_text.hidden_field :thumb_id
            = render "shared/progress"

            #image_preview.imagePreview
        -# 摘要
        .form-group.padding-content
          = sin_pic_text.label :desc, class: "col-sm-12 control-label font-normal required"
          .col-sm-12
            = sin_pic_text.text_area :desc, class: "form-control", rows: 3, required: true, "data-bv-stringlength" => "true", "data-bv-stringlength-max" => 120

        -# 点击后响应
        .form-group.padding-content
          = sin_pic_text.label :click_response, class: "col-sm-12 control-label font-normal required }"
          .col-sm-12
            = sin_pic_text.select :click_response, options_for_select(SinPicText::ClickResponse.invert, 1), {include_blank: false}, {:class => "form-control ajax_load", data: {remote: true, url: click_response_public_account_sin_materials_path(@public_account, sin_pic_text_id: sin_pic_text.object)} }

        -# 正文或链接
        #sin_pic_text_body_or_link
        -# 提交按钮
        .col-sm-12
          = f.submit t('save'), class: "btn btn-primary", "data-disable-with" => t('disable-with-save')

    %i.arrow_out
    %i.arrow_in

:javascript

  $("#sin_material_sin_pic_text_attributes_click_response").trigger('change');