#edit_sin.col-md-8.edit_sin_pic_text
  .inner.well.clearfix
    = form_for [@public_account, @sin_material], html: { role: "form" } do |f|
      = render partial: "shared/form_error_messages", locals: {object: @sin_material}
      = fields_for "sin_material[sin_pic_text_attributes]", @sin_pic_text do |sin_pic_text|
        .form-group.padding-content
          = sin_pic_text.label :title, class: "col-sm-12 control-label required font-normal"
          .col-sm-12
            = sin_pic_text.text_field :title, class: "form-control", required: true
        .form-group.padding-content
          = label_tag "thumb_image", t('activerecord.attributes.sin_pic_text.thumb'), class: "col-sm-12 control-label font-normal"
          .col-sm-12
            = file_field_tag "image", "data-url" => public_account_thumbs_path(@public_account), "data-progress" => "progress_div", :class => "filestyle", "data-buttonText" => "#{t('choose_picture')}", "data-buttonBefore" => true
            = sin_pic_text.hidden_field :thumb_id
            = render "shared/progress"
            #image_preview.imagePreview
        .form-group.padding-content
          = sin_pic_text.label :desc, class: "col-sm-12 control-label font-normal required"
          .col-sm-12
            = sin_pic_text.text_area :desc, class: "form-control", rows: 5, required: true
        .form-group.padding-content
          = sin_pic_text.label :body, class: "col-sm-12 control-label required font-normal"
          .col-sm-12
            = sin_pic_text.text_area :body, class: "form-control", required: true
        .col-sm-12
          = f.submit "#{t('save')}", class: "btn btn-primary", "data-disable-with" => "#{t('disable-with-save')}"
    %i.arrow_out
    %i.arrow_in
