.sin_box{id: sin_material.id, class: sin_col}
  .sin_box_content
    %h4.appmsg_title
      %a{onclick: "return false;", href: "javascript:void(0);", target: "_blank"}
        = sin_material.sin_pic_text.title
    %h4.appmsg_time
      = sin_material.sin_pic_text.created_at.to_time.strftime('%Y-%m-%d %H:%M:%S')
    .thumb
      %i.default
        - if sin_material.sin_pic_text.thumb.present?
          = image_tag sin_material.sin_pic_text.thumb.image_url(:preview).to_s
        - else
          = t('.thumb')
    %p.appmsg_desc
      = sin_material.sin_pic_text.desc
  .appmsg_opr
    %ul
      %li
        %a.add_right_border{href: "#{edit_public_account_sin_material_path(@public_account, sin_material)}", "data-toggle" => "tooltip", "data-placement" => "top", "data-tooltip" => true, "title" => t('edit')}
          %span.glyphicon.glyphicon-pencil
      %li
        = link_to delete_public_account_sin_material_path(@public_account, sin_material), remote: true, "data-toggle" => "tooltip", "data-placement" => "top", "data-tooltip" => true, "title" => t("delete") do
          %span.glyphicon.glyphicon-trash
  .selected_mask
    .selected_mask_inner
    .selected_mask_icon
