= render partial: "material/tab"
.panel.panel-default.margintop30
  .panel-heading
    %h3.panel-title
      %span.glyphicon.glyphicon-edit
      = t('.title')
  .panel-body
    .form-group.padding-content
      %a.pull-right#need-help.btn.btn-info
        %i.fa.fa-question
          = t('need-help')
    .alert.alert-warning{role: "alert"}
      = t('required_note').html_safe
    #edit_sin_preview.col-md-4.edit_sin_box
      %h4.appmsg_title
        %a{onclick: "return false;", href: "javascript:void(0);", target: "_blank"}
          = @sin_pic_text.try(:title)
      .thumb
        %i.default
          - if @sin_pic_text && @sin_pic_text.thumb.present?
            = image_tag @sin_pic_text.thumb.image_url.to_s, size: "100x100"
          - else
            = t('.thumb')
      %p.appmsg_desc
        = @sin_pic_text.try(:desc)
    = render 'form'

:coffee
  $(document).ready ->
    $("#sin_material_sin_pic_text_attributes_title").on "keyup", ->
      $("#edit_sin_preview .appmsg_title a").text $(this).val()


    $("#sin_material_sin_pic_text_attributes_desc").on "keyup", ->
      $("#edit_sin_preview .appmsg_desc").text $(this).val()

  $("#need-help").on "click", ->
    showGuide ".boot-tour"
