= render partial: "material/tab"
.panel.panel-default.margintop30
  .panel-heading
    %h3.panel-title
      %span.glyphicon.glyphicon-edit
      = t('.title')
  .panel-body
    .form-group.padding-content
      %a.pull-right#need-help.btn.btn-info
        %i.fa.fa-question
          = t('need-help')
    .alert.alert-warning{role: "alert"}
      = raw t('required_note')
    #edit_sin_preview.col-md-4.edit_sin_box
      %h4.appmsg_title
        %a{onclick: "return false;", href: "javascript:void(0);", target: "_blank"}
          = t('.preview_title')
      .thumb
        %i.default
          = t('.thumb')
      %p.appmsg_desc
    = render 'form'

:javascript
  $("#image").ajax_upload();
  $("#sin_material_sin_pic_text_attributes_title").on("keyup", function() {
    $("#edit_sin_preview .appmsg_title a").text($(this).val());
  });
  $("#sin_material_sin_pic_text_attributes_desc").on("keyup", function() {
    $("#edit_sin_preview .appmsg_desc").text($(this).val());
  });

  $("#need-help").on('click', function(){
    bootstro.start(".boot-tour", {
      prevButtonText: "#{t('prevStep')}",
      nextButtonText: "#{t('nextStep')}",
      finishButtonText: "#{t('finish')}"
    });
  });
