.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close
  %h4#mymodal.modal-title= t('thumbs.index.move_group')
.modal-body
  .radio
    %label
      %input.me{:type => "radio", value: 0, name: "thumb_group_id", data: {"color" => "blue", "skin" => "square"}}
      = t('thumbs.index.no_group')
  - @thumb_groups.each do |thumb_group|
    .radio
      %label
        %input.me{:type => "radio", value: thumb_group.id, name: "thumb_group_id", data: {"color" => "blue", "skin" => "square", }}
        = thumb_group.name
.modal-footer
  = link_to t('sure'), move_group_public_account_thumbs_path(@public_account, ids: @ids, select_prev_link: @select_prev_link), "data-method" => :post, class: "btn btn-primary", remote: true, id: "move_group"
  - if @select_prev_link.present?
    = link_to t('prevStep'), @select_prev_link, class: "btn btn-default", remote: true
  %button{type: "button", class: "btn btn-default", "data-dismiss" => "modal"}
    = t('close')

:javascript
  $(document).ready(function(){
    $("#move_group").on("ajax:before", function(event) {
      var el = $(this);
      el.attr('data-params', $(":radio").serialize());
      $.blockUI({"message": "<h1>#{t('submiting')}</h1>"});
    })
    $("#move_group").on("ajax:complete", function() {
      var el = $(this);
      var modal = $("#modal");
      $.unblockUI();
    })
    $("#move_group").on("click", function() {
      $('#modal').delay(2000).modal('hide');
    })
    my_icheck('.me');
  });
