.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close
  %h4#mymodal.modal-title= t('.move')
= form_tag move_group_public_account_thumbs_path(@public_account), method: "post", id: "move_form", remote: true do
  .modal-body
    .radio
      %label
        %input.icheck-me{"data-color" => "blue", "data-skin" => "square", :type => "radio", value: nil, name: "thumb_group_id"}
        未分组
    - @thumb_groups.each do |thumb_group|
      .radio
        %label
          %input.icheck-me{"data-color" => "blue", "data-skin" => "square", :type => "radio", value: thumb_group.id, name: "thumb_group_id"}
          = thumb_group.name
  .modal-footer
    = submit_tag t('sure'), class: "btn btn-primary", id: "move_submit"
    %button{type: "button", class: "btn btn-default", "data-dismiss" => "modal"}
      = t('close')

:javascript
  $("#move_form").on("ajax:before", function(event, xhr, settings) {
    var el = $(this);
    settings.data('params', $(":checkbox").serialize());
    $("body").spin();
  })
  $("#move_form").on("ajax:complete", function(event, xhr, status) {
    var el = $(this);
    el.removeAttr('data-params');
    var modal = $("#modal");
    $("body").spin(false);
  })
  $("#move_submit").on('click', function() {
    var modal = $("#modal");
    modal.delay(2000).modal('hide');
  });
  function icheck(){
    if($(".icheck-me").length > 0){
      $(".icheck-me").each(function(){
        var $el = $(this);
        var skin = ($el.attr('data-skin') !== undefined) ? "_" + $el.attr('data-skin') : "",
        color = ($el.attr('data-color') !== undefined) ? "-" + $el.attr('data-color') : "";
        var opt = {
          checkboxClass: 'icheckbox' + skin + color,
          radioClass: 'iradio' + skin + color,
        }
        $el.iCheck(opt);
      });
    }
  }

  $(function(){
    icheck();
  })
