.col-md-3.sin_box
  .sin_box_content
    .pic_card
      %a{class: "media_img"}
        = image_tag thumb.image_url.to_s
    %h4.pic_name
      %input.icheck-me{"data-color" => "blue", "data-skin" => "square", :type => "checkbox", value: thumb.id, name: "ids[]"}
      = thumb.file_name
    %p
      = thumb.file_size.to_i.to_s(:human_size) if thumb.file_size
  .msg_card_ft
    %ul.msg_card_opr_list
      %li.msg_card_opr_item
        = link_to thumb.image_url.to_s, "data-toggle" => "tooltip", "data-placement" => "top", "data-tooltip" => true, "title" => t('download'), "target" => "_blank" do
          %span.glyphicon.glyphicon-download-alt
      %li.msg_card_opr_item
        %a{href: "#", "data-toggle" => "tooltip", "data-placement" => "top", "data-tooltip" => true, "title" => t('edit')}
          %span.glyphicon.glyphicon-pencil
      %li.msg_card_opr_item
        = link_to delete_public_account_thumb_path(@public_account, thumb), remote: true, "data-toggle" => "tooltip", "data-placement" => "top", "data-tooltip" => true, "title" => t('delete') do
          %span.glyphicon.glyphicon-trash
