= render partial: "material/tab"
.panel.panel-default{style: "margin-top: 30px"}
  .panel-heading
    %h3.panel-title
      = t('.thumb_count', count: @public_account.thumbs_count)
  .panel-body

    .row.clearfix
      .col-md-2.pull-right
        = file_field_tag "image", "data-url" => "/public_accounts/#{@public_account.id}/thumbs/upload", "data-progress" => "progress_div", :class => "filestyle", "data-buttonText" => "#{t('upload')}", "data-input" => false, "data-badge" => false, "data-buttonBefore" => false, "data-buttonName" => "btn-success"
        #progress_div.progress.min-progress{style: "display: none;"}
          .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "1", :role => "progressbar", :style => "width: 0%;"}
    .row.operate
      .col-md-12
        .page-header
          %input.icheck-me#check_all{"data-color" => "blue", "data-skin" => "square", :type => "checkbox"}/
          %label{for: "all_check", style: "font-weight: normal"}
            全选
          %a{class: "btn btn-default"} 移动分组
          %a{class: "btn btn-danger"} 删除
    .row
      = form_tag do
        #pic_content.col-md-12
          = render @thumbs
    .row
      .col-md-12
        = paginate @thumbs

:javascript

  $(document).on("page:change", function() {
    $("#image").ajax_upload();
    $("#check_all").on('ifChecked', function() {
      $(".icheck-me").iCheck("check");
    })
    $("#check_all").on('ifUnchecked', function() {
      $(".icheck-me").iCheck("uncheck")
    })
  });
