= render partial: "material/tab"
%h3.title-divider
  %span
    = t('.list')
.row
  .col-md-12.clearfix
    .pull-right
      = form_tag "/public_accounts/#{@public_account.id}/thumbs/upload", method: "post", id: "picture_upload" do
        = file_field_tag "image", :class => "filestyle", "data-buttonText" => "#{t('upload')}", "data-input" => false, "data-badge" => false, "data-buttonBefore" => false, "data-buttonName" => "btn-success", "data-redirect" => public_account_thumbs_url(@public_account), id: "upload"
      = render "shared/progress"
.row
  .col-md-12
    .btn-group
      %button.btn.btn-default.active{:type => "button"} 未分组
      %button.btn.btn-default{:type => "button"} second
      %button.btn.btn-default{:type => "button","data-placement" => "right", "data-target" => "#popover_x", "data-toggle" => "popover-x", class: "btn btn-info"} 创建分组
.panel.panel-default.margintop30
  .panel-heading
    %h3.panel-title
      = t('.thumb_count', count: @public_account.thumbs_count)
  .panel-body
    - if @thumbs.empty?
      .bs-callout.bs-callout-info
        %h4= t('.no_content')
    - else
      .row.operate
        .col-md-12
          #operate-button.normal-header.page-header
            %input.icheck-me#check_all{"data-color" => "blue", "data-skin" => "square", :type => "checkbox"}/
            %label{for: "check_all", style: "font-weight: normal"}
              = t('select_all')
            = link_to t('.move_to_group'), nil, class: "btn btn-default disabled"
            = link_to t('delete'), delete_all_public_account_thumbs_path(@public_account), class: "btn btn-danger disabled", remote: true
      .row
        #pic_content.col-md-12
          = render @thumbs
      .row
        .col-md-12.text-right
          = paginate @thumbs
= render "shared/blueimp_gallery"
