- if @support_category.blank?
  .col-md-12.margintop20
    .bs-callout.bs-callout-default
      %h4= t('.no_content')
- else
  = render "sidebar_left"
  .col-md-9
    - if @supports.empty?
      .bs-callout.bs-callout-default
        %h4= t('.category_no_content')
    - else
      .article-header.page-header
        %h2
          = @support_category.try(:name)

      %ul.list-group.ul-no-style
        - cache @supports do
          = render partial: "supports/support_list", collection: @supports
      .text-right
        = paginate @supports