.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close
  %h4#mymodal.modal-title= t('.select_btn')
.modal-body
  #thumb_upload_form
    = render partial: "autoreply/thumb_upload_form", locals: {thumb_group_id: nil}
  #thumb_content
    = render partial: "autoreply/thumb_content"

.modal-footer
  %button{type: "button", class: "btn btn-primary disabled", id: "select_btn"}= t('sure')
  %button{type: "button", class: "btn btn-default", "data-dismiss" => "modal"}
    = t('close')

:javascript
  $(document).ready(function() {
    $("#thumb_content").on('click', ".sin_box", function() {
      $(this).toggleClass("selected");
      $(this).siblings().removeClass("selected");
      if($(this).hasClass("selected")) {
        $("#select_btn").removeClass("disabled");
      } else {
        $("#select_btn").addClass("disabled");
      }
    })
  })

  // 更新预览图
  $("#select_btn").on('click', function() {
    var img = $('.selected').find('img');
    $("#edit_sin_preview .thumb .default").hide();
    if ($("#edit_sin_preview .thumb").find("img").size() > 0) {
      $("#edit_sin_preview .thumb").find("img").remove();
    }
    $("#edit_sin_preview .thumb").prepend(img.height("240px").width("240px"));
    $("#sin_material_sin_pic_text_attributes_thumb_id").val($(".selected").attr("id"));
    $("#modal").modal('hide');
  });


  filestyle();

  picture_upload();

  my_icheck('.icheck-me');
