.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close
  %h4#mymodal.modal-title= t('.select_btn')
.modal-body
  .row
    .col-md-12.clearfix
      .pull-right
        = form_tag upload_public_account_path(@public_account, {thumb_group_id: @find_thumb_group ? @find_thumb_group.id : nil}), method: "post", id: "picture_upload" do
          = file_field_tag "image", :class => "filestyle", "data-buttonText" => t('upload'), "data-input" => false, "data-badge" => false, "data-buttonBefore" => false, "data-buttonName" => "btn-primary", id: "upload"
      .pull-right.marginright20
        %p.help-block
          = t('picture_upload_tip')
        = render "shared/progress"
  #thumb_content
    = render partial: "autoreply/thumb_content"

.modal-footer
  %button{type: "button", class: "btn btn-primary disabled", id: "select_btn"}= t('sure')
  %button{type: "button", class: "btn btn-default", "data-dismiss" => "modal"}
    = t('close')

:javascript
  $(document).ready(function() {
    $("#thumb_content").on('click', ".sin_box", function() {
      $(this).toggleClass("selected");
      $(this).siblings().removeClass("selected");
      if($(this).hasClass("selected")) {
        $("#select_btn").removeClass("disabled");
      } else {
        $("#select_btn").addClass("disabled");
      }
    })
  })

  // 更新预览图
  $("#select_btn").on('click', function() {
    var img = $('.selected').find('img');
    $("#edit_sin_preview .thumb .default").hide();
    if ($("#edit_sin_preview .thumb").find("img").size() > 0) {
      $("#edit_sin_preview .thumb").find("img").remove();
    }
    $("#edit_sin_preview .thumb").prepend(img.height("240px").width("240px"));
    $("#sin_material_sin_pic_text_attributes_thumb_id").val($(".selected").attr("id"));
    $("#modal").modal('hide');
  });


  filestyle();

  picture_upload();

  my_icheck('.icheck-me');
