.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close
  %h4#mymodal.modal-title= t('select_sin_material_btn')
.modal-body
  -# 添加单图文按钮
  .row
    .col-md-12.clearfix
      = link_to t('.add_btn'), new_public_account_sin_material_path(@public_account), class: "btn btn-primary pull-right"
  .row
    .pic_text_content.col-md-12
      = render partial: "sin_materials/sin_material", collection: @sin_materials, locals: {sin_col: "col-md-4"}
  .row
    .col-md-12.text-right#page
      = paginate @sin_materials, :remote => true
.modal-footer
  -# 确定按钮
  - if @prev_link.present?
    = link_to t('sure'), @prev_link, class: "btn btn-primary disabled sure_btn", id: "prev_link_sure", remote: true
  - else
    %button{type: "button", class: "btn btn-primary disabled sure_btn", id: "select_btn"}= t('sure')

  -# 上一步按钮
  - if @prev_link.present?
    = link_to @prev_link, class: "btn btn-default", remote: true do
      = t('prevStep')

  -# 关闭按钮
  %button{type: "button", class: "btn btn-default", "data-dismiss" => "modal"}
    = t('close')

:javascript
  $(document).ready(function(){
    // 添加选中时效果
    $(".sin_box").on('click', function() {
      $(this).toggleClass("selected");
      $(this).siblings().removeClass("selected");
      if($(this).hasClass("selected")) {
        $(".sure_btn").removeClass("disabled");
      } else {
        $(".sure_btn").addClass("disabled");
      }
    });

    $("#select_btn").on('click', function() {
      $("#modal").modal('hide');
      $("##{@hidden_tag}").val($(".selected").attr("id"));
      $("##{@preview_wrapper}").html($('.selected').removeClass("selected col-md-4").addClass("col-sm-6").off('click'));
    });

    $("#prev_link_sure").on("ajax:before", function(event) {
      var el = $(this);
      var select_sin_id_params = "select_sin_id=" + $(".selected").attr("id");
      el.attr('data-params', select_sin_id_params);
    })
  });