.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close
  %h4#mymodal.modal-title= t('.select_btn')
.modal-body
  .row
    .col-md-12.clearfix
      = link_to t('.add_btn'), new_public_account_sin_material_path(@public_account), class: "btn btn-primary pull-right"
  .row
    #pic_text_content.col-md-12
      = render partial: "sin_materials/sin_material", collection: @sin_materials, locals: {sin_col: "col-md-4"}
  .row
    .col-md-12.text-right#page
      = paginate @sin_materials, :remote => true
.modal-footer
  %button{type: "button", class: "btn btn-primary disabled", id: "select_btn"}= t('sure')
  %button{type: "button", class: "btn btn-default", "data-dismiss" => "modal"}
    = t('close')

:javascript
  $(".sin_box").on('click', function() {
    //$(this).addClass("offer-success");
    $(this).toggleClass("offer-success");
    $(this).siblings().removeClass("offer-success");
    if($(this).hasClass("offer-success")) {
      $("#select_btn").removeClass("disabled");
    } else {
      $("#select_btn").addClass("disabled");
    }
  })
  $("#page a").on("ajax:before", function() {
    NProgress.start();
  })
  $("#page a").on("ajax:before", function() {
    NProgress.done();
  })
  $("#select_btn").on('click', function() {
    $("#public_account_default_material_id").val($(".offer-success").attr("id"));
    $("#modal").modal('hide');
    $("#pic_text_content").html($('.offer-success').removeClass("offer-success col-md-4").addClass("col-sm-6"));
  });
