.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close
  %h4#mymodal.modal-title= t('.select_btn')
.modal-body
  .row
    .col-md-12.clearfix
      .pull-right
        = form_tag upload_public_account_thumbs_path(@public_account, {thumb_group_id: @find_thumb_group ? @find_thumb_group.id : nil}), method: "post", id: "picture_upload" do
          = file_field_tag "image", :class => "filestyle", "data-buttonText" => "#{t('upload')}", "data-input" => false, "data-badge" => false, "data-buttonBefore" => false, "data-buttonName" => "btn-primary", "data-redirect" => public_account_thumbs_url(@public_account), id: "upload"
      .pull-right.marginright20
        %p.help-block
          = t('picture_upload_tip')
        = render "shared/progress"

      .row
        #pic_content.col-md-12
          = render partial: "thumbs/thumb", collection: @thumbs, locals: {thumb_col: "col-md-3"}
      .row
        .col-md-12.text-right#page
          = paginate @thumbs, remote: true
.modal-footer
  %button{type: "button", class: "btn btn-primary disabled", id: "select_btn"}= t('sure')
  %button{type: "button", class: "btn btn-default", "data-dismiss" => "modal"}
    = t('close')

:javascript
  $(".sin_box").on('click', function() {
    //$(this).addClass("offer-success");
    $(this).toggleClass("offer-success");
    $(this).siblings().removeClass("offer-success");
    if($(this).hasClass("offer-success")) {
      $("#select_btn").removeClass("disabled");
    } else {
      $("#select_btn").addClass("disabled");
    }
  })
  $("#page a").on("ajax:before", function() {
    NProgress.start();
  })
  $("#page a").on("ajax:before", function() {
    NProgress.done();
  })
  $("#select_btn").on('click', function() {
    $("#public_account_default_material_id").val($(".offer-success").attr("id"));
    $("#modal").modal('hide');
    $("#pic_text_content").html($('.offer-success').removeClass("offer-success col-md-4").addClass("col-sm-6"));
  });

  $('.filestyle').each(function() {
    var $this = $(this), options = {

      'input' : $this.attr('data-input') === 'false' ? false : true,
      'icon' : $this.attr('data-icon') === 'false' ? false : true,
      'buttonBefore' : $this.attr('data-buttonBefore') === 'true' ? true : false,
      'disabled' : $this.attr('data-disabled') === 'true' ? true : false,
      'size' : $this.attr('data-size'),
      'buttonText' : $this.attr('data-buttonText'),
      'buttonName' : $this.attr('data-buttonName'),
      'iconName' : $this.attr('data-iconName'),
      'badge' : $this.attr('data-badge') === 'false' ? false : true
    };

    $this.filestyle(options);
  });

  if ($("#upload").length > 0) {
    $("#picture_upload").fileupload({
      done: function(e, data) {
        $("#progress_div").hide();
        $("body").spin(false);
        Turbolinks.visit();
      },
      add: function(e, data) {
        $("body").spin();
        data.submit();
      },
      progressall: function(e, data) {
        var progress;
        progress = parseInt(data.loaded / data.total * 100, 10);
        $("#progress_div").show();
        $("#progress_div .progress-bar").css("width", progress + "%");
      }
    });
  }

  function icheck(){
    if($(".icheck-me").length > 0){
      $(".icheck-me").each(function(){
        var $el = $(this);
        var skin = ($el.attr('data-skin') !== undefined) ? "_" + $el.attr('data-skin') : "",
        color = ($el.attr('data-color') !== undefined) ? "-" + $el.attr('data-color') : "";
        var opt = {
          checkboxClass: 'icheckbox' + skin + color,
          radioClass: 'iradio' + skin + color,
        }
        $el.iCheck(opt);
      });
    }
  }

  $(function(){
    icheck();
  })

