%h3.title-divider
  %span
    = t('autoreply.title')
.alert.alert-info{role: "alert"}
  = t('autoreply.notice')
%p.bg-success
%ul.nav.nav-tabs{role: "tablist"}
  %li{class: action_name == "added" ? "active" : nil}
    = link_to t('autoreply.added_title'), added_public_account_path
  %li{class: action_name == "default" ? "active" : nil}
    = link_to t('autoreply.default_title'), default_public_account_path
  %li{class: action_name == "keyword" ? "active" : nil}
    = link_to t('autoreply.keyword_title'), keyword_public_account_path
