.page-header
  %h3= t('autoreply.title')
.alert.alert-info{role: "alert"}
  = t('autoreply.notice')
%ul.nav.nav-tabs{role: "tablist"}
  %li{class: action_name == "added" ? "active" : nil}
    %a{href: "#{added_public_account_path}"}
      = t('autoreply.added_title')
  %li{class: action_name == "default" ? "active" : nil}
    %a{href: "#{default_public_account_path}"}
      = t('autoreply.default_title')
  %li{class: action_name == "keyword" ? "active" : nil}
    %a{href: "#{keyword_public_account_path}"}
      = t('autoreply.keyword_title')
