.row.margintop20
  .col-md-12.clearfix
    .tabbable-panel
      .tabbable-line
        %ul.nav.nav-tabs#group{role: "tablist"}
          %li{class: current_page?(thumb_group_public_account_path(@public_account)) || action_name == "select_thumb_material" ? "active" : nil}
            = link_to thumb_group_public_account_path(@public_account), remote: true do
              = t('.no_group')
              %em.num
                (#{@no_group_count})
          = render partial: "autoreply/thumb_group", collection: @thumb_groups unless @thumb_groups.empty?
- if @thumbs.empty?
  .bs-callout.bs-callout-info
    %h4= t('.no_content')
- else
  .row
    .pic_content.col-md-12.margintop20
      = render partial: "thumbs/thumb", collection: @thumbs, locals: {thumb_col: "col-md-3"}
  .row
    .col-md-12.text-right#page
      = paginate @thumbs, remote: true

:javascript
  my_icheck('.icheck-me');
