= render 'tab'
.tab-content
  .bs-callout.bs-callout-info
    %p.text-info
      = t('.notice')
  .panel.panel-default
    .panel-body.form-horizontal.payment-form
      = form_for @public_account, url: set_default_reply_public_account_path(@public_account), method: :patch do |f|
        = render partial: "shared/form_error_messages", locals: {object: @public_account}
        .form-group
          = f.label :default_reply, class: "col-sm-3 col-xs-3 control-label"
          .col-sm-9.col-xs-9.required-field-block
            = f.text_area :default_reply, class: "form-control", rows: 12
            = required_icon
        .form-group
          .col-sm-offset-3.col-sm-9
            = f.submit "#{t('save')}", class: "btn btn-primary", "data-disable-with" => "#{t('disable-with-submit')}"
