.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close
  %h4#mymodal.modal-title= t('.title')
.modal-body.clearfix
  .form-horizontal
    .form-group
      = label_tag "group_name", t('.group_name'), class: "col-sm-3 control-label required"
      .col-sm-9
        = text_field_tag "group_name", nil, class: "form-control", required: true, autofocus: true
.modal-footer
  = link_to t('sure'), public_account_weixin_groups_path(@public_account), method: "post", remote: true, id: "sure", class: "btn btn-primary"
  %button{type: "button", class: "btn btn-default", "data-dismiss" => "modal"}
    = t('close')

:coffee

  $("#sure").on "ajax:before", (event) ->
    el = $(this)
    el.attr "data-params", $(":input").serialize()
    $.blockUI message: "<h1>#{t('saving')}</h1>"

  $("#sure").on "ajax:complete", (event, xhr, status) ->
    el = $(this)
    el.removeAttr "data-params"
    $.unblockUI()