<p><%= t('.hello', email: @resource.email) %>!</p>

<p><%= t('.body')%></p>

<p><%= link_to t('.submit_button'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('show_link') %></p>
<p><%= link_to url_for(edit_password_url(@resource, reset_password_token: @token)), edit_password_url(@resource, reset_password_token: @token) %></p>


<p><%= t('.ignore') %></p>
<p><%= raw t("contect", :office_email => Settings.office_email) %></p>
