.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close
  %h4#mymodal.modal-title= t('.title')
.modal-body.clearfix
  .form-group
    .col-sm-12#text-group
      %textarea{id: "text", rows: 12, class: "form-control"}
        = @kword_content
      %p.text-muted.pull-right
        = t('char_tip')
        %span#chars
          = t('.char_number')
      %input{name: "rule[kwords_attributes][][content]", type: "hidden", value: "2", class: "hidden_input"}
.modal-footer
  %button{type: "button", class: "btn btn-primary", id: "sure"}= t('sure')
  %button{type: "button", class: "btn btn-default", "data-dismiss" => "modal"}
    = t('close')

:javascript
  $(document).ready(function() {
    var elem = $("#chars");
    if($("#text").length > 0) {
      $("#text").limiter(30, elem);
    }
    $("#sure").on('click', function() {
      // 设置hidden tag的内容
      $("#text-group .hidden_input").val($("#text").val());
      $("#kword_content").append($("#text-group .hidden_input"));

      // 显示关键字的内容
      var kword_group = $("#kword_template .kword").clone();
      var kword_text = kword_group.find(".desc").html($("#text").val());
      $("#kword_texts").append(kword_group.show());
      $("#modal").delay(2000).modal("hide");
    })
  });
