-# 创建新规则表单的内容
%div{id: "kword_form_#{kword_index}"}

  .form-group
    .col-sm-10
    .col-sm-2.text-right
      %a{class: "gray_link delete_kword_form", data: {delete: "kword_form_#{kword_index}", title: t('delete'), toggle: "tooltip", placement: "top", tooltip: true}}
        %span.glyphicon.glyphicon-trash

  .form-group
    = label_tag "rule_kwords_attributes_#{kword_index}_content", t('activerecord.attributes.kword.content'), class: "col-sm-2 control-label required"
    .col-sm-8
      = text_field_tag "rule[kwords_attributes][#{kword_index}][content]", nil, class: "form-control", required: true
  .form-group
    = label_tag "rule_kwords_attributes_#{kword_index}_subjectable_type", t('activerecord.attributes.kword.subjectable_type'), class: "col-sm-2 control-label"
    .col-sm-8
      = select_tag "rule[kwords_attributes][#{kword_index}][subjectable_type]", options_for_select(Kword::ReplyType.invert), { include_blank: false, :class => "form-control select_type", data: {remote: true, url: reply_content_public_account_rules_path(@public_account, kword_index: kword_index)} }

  %div{id: "reply_content_#{kword_index}"}
    .form-group
      = label_tag "rule_kwords_attributes_#{kword_index}_reply", t('activerecord.attributes.kword.reply'), class: "col-sm-2 control-label required"
      .col-sm-8
        = text_area_tag "rule[kwords_attributes][#{kword_index}][reply]", "", class: "form-control", rows: 9, id: "text_#{kword_index}", required: true
        %p.text-muted.pull-right
          = t('char_tip')
          %span{id: "chars_#{kword_index}"}
  = hidden_field_tag "rule[kwords_attributes][#{kword_index}][public_account_id]", @public_account.id

:javascript

  var elem = $("#chars_#{kword_index}");
  if($("#text_#{kword_index}").length > 0) {
    $("#text_#{kword_index}").limiter(300, elem);
  }

