%div{id: "kword_form_#{kword.index}_#{rule_id}"}

  -# 删除表单按钮
  .form-group
    .col-sm-10
    .col-sm-2.text-right
      - if rule_id.present?
        %a{class: "gray_link edit_delete_kword_form", data: {delete: "rule_kwords_attributes_#{kword.index}_#{rule_id}_destroy", hide: "kword_form_#{kword.index}_#{rule_id}", title: t('delete'), toggle: "tooltip", placement: "top", tooltip: true}}
          %span.glyphicon.glyphicon-trash
      - else
        %a{class: "gray_link delete_kword_form", data: {delete: "kword_form_#{kword.index}_#{rule_id}", title: t('delete'), toggle: "tooltip", placement: "top", tooltip: true}}
          %span.glyphicon.glyphicon-trash

  -# 编辑规则时删除关键字
  - unless kword.object.new_record?
    = kword.hidden_field :_destroy, value: 0, id: "rule_kwords_attributes_#{kword.index}_#{rule_id}_destroy"
  -# 填写关键字
  .form-group
    = kword.label :name, class: "col-sm-2 control-label required"
    .col-sm-8
      = kword.text_field :name, class: "form-control", required: true
  -# 选择类型
  .form-group
    = kword.label :subjectable_type, class: "col-sm-2 control-label"
    .col-sm-8
      = kword.select :subjectable_type, options_for_select(Kword::ReplyType.invert, kword.object.subjectable_type.presence), {include_blank: false}, {:class => "form-control ajax_load", id: "select_reply_type_#{kword.index}_#{rule_id}", data: {remote: true, url: reply_content_public_account_rules_path(@public_account, kword_index: kword.index, rule_id: rule_id, kword_object: kword.object)} }

  %div{id: "reply_content_#{kword.index}_#{rule_id}"}

  = kword.hidden_field :public_account_id, value: @public_account.id

:javascript

  // 删除表单操作
  $('.delete_kword_form').on('click', function(event) {
    event.preventDefault();
    event.stopPropagation();
    var delete_form = "#" + $(this).data("delete");
    $(delete_form).remove();
  });

  // 自动触发类型选择
  var select_reply_type = "#" + "select_reply_type_#{kword.index}_#{rule_id}"
  $(select_reply_type).trigger('change');

  // 按钮提示
  $('button[data-tooltip], a[data-tooltip]').tooltip()

  // 编辑规则时删除关键词表单
  // 设_destroy为1后隐藏表单
  $(".edit_delete_kword_form").on('click', function(event) {
    event.preventDefault();
    event.stopPropagation();
    var set_destroy = "#" + $(this).data("delete");
    var hide_form = "#" + $(this).data("hide");
    $(set_destroy).val(1);
    $(hide_form).hide();
  });