.panel.panel-default
  .panel-heading
    %h3.panel-title.clearfix
      %strong
        = t('.title', counter: @rules_count - rule_counter)
      = rule.name
      %i.fa.fa-sort-desc.pull-right
  .panel-body
    .form-group
      .col-sm-2
        = t('.kword')
      .col-sm-10
        = rule.kwords.map { |kword| content_tag(:em, kword.content, class: "keywords_name") }.join.html_safe
    .form-group
      .col-sm-2
        = t('.reply')
      .col-sm-10
        ssssssss

  .panel-footer.clearfix
    %span.pull-right
      = link_to nil, class: "btn btn-info btn-sm" do
        %i.glyphicon.glyphicon-edit
        = t('edit')
      = link_to nil, class: "btn btn-danger btn-sm" do
        %i.glyphicon.glyphicon-remove
        = t('delete')
