.row
  .col-md-12
    = search_form_for @q, url: public_account_rules_path(@public_account), html: {class: "form-inline", role: "form"} do |f|

      .form-group
        = f.label :name_or_kwords_content_cont, t('.keyword'), class: "sr-only"
        = f.search_field :name_or_kwords_content_cont, class: "form-control", placeholder: t('.keyword')

      = button_tag type: "submit", class: "btn btn-primary" do
        %span.glyphicon.glyphicon-search
        = t('search')
