= render 'autoreply/tab'
.tab-content
  .bs-callout.bs-callout-info
    %p.text-info
      = t('.notice')
  -# 创建新规则的按钮
  .row
    .col-md-12.clearfix
      %span.pull-right
        %button{type: "button", class: "btn btn-primary", id: "new_btn"}
          %span.glyphicon.glyphicon-plus
          = t('.new')
  -# 新规则的内容
  .row
    .col-md-12.margintop20#new_rule{style: "display: none;"}
      .panel.panel-default
        .panel-heading
          %h3.panel-title.clearfix
            %span.glyphicon.glyphicon-edit
            %strong
              = t('.new_rule')

        -# 新规则的表单内容
        = render "new"
  -# 显示每个规则
  .row.margintop20
    .col-md-12
      - if @rules.empty?
        .bs-callout.bs-callout-info
          %h4= t('.no_content')
      - else
        = render partial: "rules/rule", collection: @rules
  -# 分页
  .row
    .col-md-12.text-right
      = paginate @rules

:javascript
  $(document).ready(function() {
    $("#new_btn").on('click', function() {
      $("#new_rule").toggle();
    })
  })
