= render 'autoreply/tab'
.tab-content
  .bs-callout.bs-callout-info
    %p.text-info
      = t('.notice')
  .row
    .col-md-12.clearfix
      %span.pull-right
        %button{type: "button", class: "btn btn-primary", id: "new_btn"}
          %span.glyphicon.glyphicon-plus
          = t('.new')
  .row
    .col-md-12.margintop20#new_rule{style: "display: none;"}
      .panel.panel-default
        .panel-heading
          %h3.panel-title.clearfix
            %strong
              = t('.new_rule')
            %i.fa.fa-sort-asc.pull-right
        .panel-body
          = form_for [@public_account, @rule], html: {class: "form-horizontal"} do |public_account|
            .form-group
              = public_account.label :name, class: "col-sm-2 control-label required"
              .col-sm-7
                = public_account.text_field :name, class: "form-control", required: true, autoreply: true
                %p.help-block sssss
              .col-sm-3
                = link_to "添加关键字", "ss", class: "btn btn-link"
                = link_to "ss", class: "gray_link" do
                  %span.glyphicon.glyphicon-pencil
                = link_to "ss", class: "gray_link" do
                  %span.glyphicon.glyphicon-trash
            = public_account.fields_for :kwords do |kword|
              .form-group
                = kword.label :content, class: "col-sm-2 control-label required"
                .col-sm-7
                  = kword.text_field :content, class: "form-control", required: true, autoreply: true
                  %p.help-block sssss
                .col-sm-3
                  = kword.text_field :subjectable_id, class: "form-control", required: true, autoreply: true
              .form-group
                = kword.label "回复", class: "col-sm-2 control-label required"
                .col-sm-7
                  = kword.text_field :subjectable_id, class: "form-control", required: true, autoreply: true
                  %p.help-block sssss
                .col-sm-3
                  = kword.text_field :subjectable_id, class: "form-control", required: true, autoreply: true

        .panel-footer.clearfix
          %span.pull-right
            = link_to nil, class: "btn btn-success" do
              = t('save')
  .row.margintop20
    .col-md-12
      = render @rules

:javascript
  $("#new_btn").on('click', function() {
    $("#new_rule").toggle();
  })
