= render 'autoreply/tab'
.tab-content
  .bs-callout.bs-callout-info
    %p.text-info
      = t('.notice')
  .row
    .col-md-12.clearfix
      %span.pull-right
        %button{type: "button", class: "btn btn-primary", id: "new_btn"}
          %span.glyphicon.glyphicon-plus
          = t('.new')
  .row
    .col-md-12.margintop20#new_rule{style: "display: none;"}
      .panel.panel-default
        .panel-heading
          %h3.panel-title.clearfix
            %span.glyphicon.glyphicon-edit
            %strong
              = t('.new_rule')
            %i.fa.fa-sort-asc.pull-right
        = form_for [@public_account, @rule], html: {class: "form-horizontal"} do |public_account|
          .panel-body
            .page-header
              .form-group
                = public_account.label :name, class: "col-sm-2 control-label required"
                .col-sm-10
                  = public_account.text_field :name, class: "form-control", required: true, autoreply: true
                  %p.help-block= t('.name_limit')
            = public_account.fields_for :kwords do |kword|
              #kword_content
                %input{type: "hidden", id: "kword_hidden", name: "kword_hidden", value: 0}
                .form-group
                  = kword.label :content, class: "col-sm-2 control-label required"
                  .col-sm-8
                    = kword.text_field :content, class: "form-control required"
                  .col-sm-2.text-right
                    = link_to t('.new_kword'), new_kword_public_account_rules_path(@public_account), class: "btn btn-link", style: "padding: 6px 0;", remote: true, id: "new_kword"
                #kword_texts

                .form-group
                  = kword.label :subjectable_id, class: "col-sm-2 control-label required"
                  .col-sm-8
                  .col-sm-2.text-right
                    = link_to t('.new_kword'), nil, class: "btn btn-link", style: "padding: 6px 0;"
                .form-group
                  .col-sm-2
                  .col-sm-8
                  .col-sm-2.text-right
                    = link_to edit_kword_public_account_rules_path(@public_account), class: "gray_link", remote: true do
                      %span.glyphicon.glyphicon-pencil
                    = link_to "ss", class: "gray_link" do
                      %span.glyphicon.glyphicon-trash
              = kword.hidden_field :public_account_id, value: @public_account.id
          .panel-footer.clearfix
            %span.pull-right
              = public_account.submit t('save'), class: "btn btn-success"
  .row.margintop20
    .col-md-12
      = render partial: "rules/rule", collection: @rules

:javascript
  $(document).ready(function() {
    $("#new_btn").on('click', function() {
      $("#new_rule").toggle();
    })

    $("#new_kword").on('ajax:before', function() {
      var el = $(this);
      el.attr("data-params", $("#kword_hidden").serialize());
    })

    // 编辑关键字
    $(document).on('ajax:before', 'a.edit_kword', function() {
      var el = $(this);
      var desc = el.parent().parent().find(".desc");
      el.attr("data-params", "kword_content=" + desc.text());
      desc.attr("id", "kword");
    });
  })
