.modal-dialog
  .modal-content
    .modal-header
      %h1.text-center
        = t("devise.invitations.new.header")
    .modal-body.clearfix
      = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f|
        = devise_error_messages!
        %p.text-muted
          = t('devise.invitations.new.body')
        .form-group
          = f.email_field :email, autofocus: true, required: true, class: "form-control input-lg", placeholder: t('email')
        .form-group
          = f.submit t("send"), id: "btn-login", class: "btn btn-primary btn-lg btn-block", "data-disable-with" => t('disable-with-submit')
