.col-md-3
  .list-group
    %a.list-group-item{:href => "#{public_account_path(@public_account)}", :class => (controller_name == "public_accounts" && action_name == "show" ? "active" : nil)}
      .pull-right
        %i.fa.fa-chevron-right
      = t('.dashboard')
    %a.list-group-item{:href => "#{public_account_sin_materials_path(@public_account)}", :class => (["material", "sin_materials"].include?(controller_name) ? "active" : nil)}
      .pull-right
        %i.fa.fa-chevron-right
      = t('.material')
    %a.list-group-item{:href => "#{added_public_account_path(@public_account)}", :class => (controller_name == "autoreply" ? "active" : nil)}
      .pull-right
        %i.fa.fa-chevron-right
      = t('.autoreply')
    %a.list-group-item{:href => "#"}
      .pull-right
        %i.fa.fa-chevron-right
      = t('.custom_menu')
    %a.list-group-item{:href => "#"}
      .pull-right
        %i.fa.fa-chevron-right
      = t('.website_manage')
