.col-md-3
  .list-group
    %a.list-group-item{:href => "#{public_account_path}", :class => (controller_name == "public_accounts" && action_name == "show" ? "active" : nil)}
      .pull-right
        %i.fa.fa-chevron-right
      = t('.dashboard')
    %a.list-group-item{:href => "#{pic_text_public_account_path}", :class => (controller_name == "material" ? "active" : nil)}
      .pull-right
        %i.fa.fa-chevron-right
      = t('.material')
    %a.list-group-item{:href => "#{added_public_account_path}", :class => (controller_name == "autoreply" ? "active" : nil)}
      .pull-right
        %i.fa.fa-chevron-right
      = t('.autoreply')
    %a.list-group-item{:href => "#"}
      .pull-right
        %i.fa.fa-chevron-right
      = t('.custom_menu')
    %a.list-group-item{:href => "#"}
      .pull-right
        %i.fa.fa-chevron-right
      = t('.website_manage')
