/ Demo navbar
.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "navbar-brand" do
        %span.glyphicon.glyphicon-home
        = CONFIG['title']
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right.nav-user
        - if user_signed_in?
          %li
            %a
              %i.fa.fa-bell-o
              .badge 99
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = current_user.email
              %span.glyphicon.glyphicon-user.pull-right
            %ul.dropdown-menu
              %li
                %a{:href => "#{edit_user_registration_path}"}
                  = t('change_password')
                  %span.glyphicon.glyphicon-cog.pull-right
              %li.divider
              %li
                %a{:href => "#{destroy_user_session_path}", "data-method" => :delete, rel: "nofollow"}
                  = t('logout')
                  %span.glyphicon.glyphicon-log-out.pull-right
        - else
          %li
            = link_to(t('signup'), new_user_registration_path)
          %li
            = link_to(t('login'), new_session_path(:user))
      - if user_signed_in?
        %ul.nav.navbar-nav
          / Thumbnails demo
          %li{:class => (controller_name == 'public_accounts' ? 'active' : nil)}
            %a{:href => "#{public_accounts_path}"}
              公众账号管理
