.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{data: {"target" => "#navbar", "toggle" => "collapse"}, :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "navbar-brand" do
        %span.glyphicon.glyphicon-home
        = Settings.title
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            %a
              %i.fa.fa-bell-o
              .badge 99
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-user
              = t('username')
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => edit_user_registration_path}
                  = t('change_password')
                  %span.glyphicon.glyphicon-cog.pull-right
              %li.divider
              %li
                = link_to destroy_user_session_path, "data-method" => :delete do
                  = t('logout')
                  %span.glyphicon.glyphicon-log-out.pull-right
        - else
          %li
            = link_to new_user_registration_path do
              %span.glyphicon.glyphicon-registration-mark
              = t('signup')
          %li
            = link_to new_session_path(:user) do
              %span.glyphicon.glyphicon-log-in
              = t('login')

      - if user_signed_in?
        %ul.nav.navbar-nav
          %li{:class => (controller_name == 'public_accounts' ? 'active' : nil)}
            %a{:href => public_accounts_path}
              %i.fa.fa-weixin
                = t('.public_account_manage')
          %li
            %a{:href => "#"}
              %i.fa.fa-users
                = t('.contact_us')
          %li
            %a{:href => supports_path}
              %i.fa.fa-question
                = t('.help')
