!!!
%html
  %head
    = render_page_title_tag
    = render_page_description_meta_tag
    = render_page_keywords_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = csrf_meta_tags
    = render 'layouts/shared/statistics'
    /[if lt IE 9]
      %script{:src => "/ie_bootstrap_js/html5shiv.js"}
      %script{:src => "http://120.24.84.41/ie_bootstrap_js/respond.js"}

  %body
    = render 'layouts/shared/topbar'
    #content
      .container
        .row
          - if notice.present? || alert.present?
            .alert.alert-warning.text-center
              %a.close{"data-dismiss" => "alert"} x
              = notice
              = alert
          = yield
    - cache do
      = render 'layouts/shared/footer'
      = render 'shared/alert_fixed_top'
      = render 'shared/modal'
