!!!
%html
  %head
    = render_page_title_tag
    = render_page_description_meta_tag
    = render_page_keywords_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = csrf_meta_tags
  %body
    = render 'layouts/shared/topbar'
    #content
      .container
        .row
          - if notice.present? || alert.present?
            .alert.alert-warning.text-center
              %a.close{"data-dismiss" => "alert"} x
              = notice
              = alert
          = yield
    = render 'layouts/shared/footer'
    = render 'shared/alert_fixed_top'