!!!
%html
  %head
    %title 公众平台后台网站
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = csrf_meta_tags
  %body
    = render 'layouts/topbar'
    #content
      .container
        .row
          - if notice.present? || alert.present?
            .alert.alert-warning.text-center
              %a.close{"data-dismiss" => "alert"} x
              = notice
              = alert
          = yield
    = render 'layouts/footer'
    = render 'shared/alert_fixed_top'
