!!!
%html
  %head
    = render_page_title_tag
    = stylesheet_link_tag    'public_account_manage', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'public_account_manage', 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = csrf_meta_tags
  %body
    = render 'layouts/shared/topbar'

    #content
      .container
        - if user_signed_in? && !current_user.confirmed?
          .row
            .col-md-12
              %p.text-danger
                = link_to "验证邮箱", new_confirmation_path(current_user)

        = render 'layouts/shared/flash_messages'
        .row
          .clearfix.visible-xs-block
          .col-md-12
            = render_breadcrumbs
            = yield
    = render 'layouts/shared/footer'
    = render 'shared/alert_fixed_top'
    = render 'shared/modal'