!!!
%html
  %head
    = render_page_title_tag
    = stylesheet_link_tag    'public_account_manage', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'public_account_manage', 'data-turbolinks-track' => true
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = csrf_meta_tags
    = render 'layouts/shared/statistics'
    /[if lt IE 9]
      %script{:src => "/ie_bootstrap_js/html5shiv.js"}
      %script{:src => "http://120.24.84.41/ie_bootstrap_js/respond.js"}
  %body
    = render 'layouts/shared/topbar'

    #content
      .container
        / .row
        /   .col-md-12
        /     = render 'layouts/shared/verify_email'
        .row
          .col-md-12
            = render 'layouts/shared/flash_messages'
        .row
          .clearfix.visible-xs-block
          .col-md-12
            = render_breadcrumbs
            = yield
    - cache do
      = render 'layouts/shared/footer'
      = render 'shared/alert_fixed_top'
      = render 'shared/modal'
