!!!
%html
  %head
    %title 公众平台后台网站
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    / Demo navbar
    .navbar.yamm.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} 后台网站
        #navbar-collapse-1.navbar-collapse.collapse
          %ul.nav.navbar-nav
            / Thumbnails demo
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                公众平台
                %b.caret
              %ul.dropdown-menu
                %li
                  .yamm-content
                    .row
                      .col-sm-4
                        .thumbnail
                          %img{:alt => "260x130", :src => "http://placekitten.com/260/130/"}
                            .caption
                              %h3 Thumb Label
                              %p Mazagran doppio half and half aftertaste organic, rich doppio
                              %p
                                %a.btn.btn-primary{:href => "#"} Action
                                %a.btn.btn-default{:href => "#"} Action
                      .col-sm-4
                        .thumbnail
                          %img{:alt => "260x130", :src => "http://placekitten.com/260/130/"}
                            .caption
                              %h3 Thumb Label
                              %p Black latte cinnamon, cultivar trifecta crema cappuccino
                              %p
                                %a.btn.btn-primary{:href => "#"} Action
                                %a.btn.btn-default{:href => "#"} Action
                      .col-sm-4
                        .thumbnail
                          %img{:alt => "260x130", :src => "http://placekitten.com/260/130/"}
                            .caption
                              %h3 Thumb Label
                              %p Bar roast et, as latte café au lait, mocha aromatic robusta
                              %p
                                %a.btn.btn-primary{:href => "#"} Action
            / Classic list
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                功能
                %b.caret
              %ul.dropdown-menu
                %li
                  / Content container to add padding
                  .yamm-content
                    .row
                      %ul.col-sm-2.list-unstyled
                        %li
                          %p
                            %strong 基本功能
                        %li 首次关注
                        %li 自定义菜单
                        %li 关键字回复
                      %ul.col-sm-2.list-unstyled
                        %li
                          %p
                            %strong 风站功能
                        %li
                          %a{:href => "#"} 微官网
                        %li
                          %a{:href => "#"} 微留言
                        %li
                          %a{:href => "#"} 微预约
                        %li
                          %a{:href => "#"} 微客服
                      %ul.col-sm-2.list-unstyled
                        %li
                          %p
                            %strong Section Title
                        %li List Item
                        %li List Item
                      %ul.col-sm-2.list-unstyled
                        %li
                          %p
                            %strong Section Title
                        %li List Item
                        %li List Item
                        %li
                          %ul
                            %li
                              %a{:href => "#"} Link Item
          %ul.nav.navbar-nav.navbar-right.nav-user
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Iasmani Pinazo
                %span.glyphicon.glyphicon-user.pull-right
              %ul.dropdown-menu
                %li
                  %a{:href => "#"}
                    Account Settings
                    %span.glyphicon.glyphicon-cog.pull-right
                %li.divider
                %li
                  %a{:href => "#"}
                    User stats
                    %span.glyphicon.glyphicon-stats.pull-right
                %li.divider
                %li
                  %a{:href => "#"}
                    Messages
                    %span.badge.pull-right 42
                %li.divider
                %li
                  %a{:href => "#"}
                    Favourites Snippets
                    %span.glyphicon.glyphicon-heart.pull-right
                %li.divider
                %li
                  %a{:href => "#"}
                    Sign Out
                    %span.glyphicon.glyphicon-log-out.pull-right
    = yield

