!!!
%html
  %head
    %title 公众平台后台网站
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/flash_messages'
    = render 'layouts/topbar'
    = yield
    = render 'layouts/footer'
