!!!
%html
  %head
    %title 公众平台后台网站
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = csrf_meta_tags
  %body
    = render 'layouts/topbar'
    #content
      .container
        .row
          = render 'layouts/flash_messages'
        .row
          = render 'layouts/sidebar_left'
          .clearfix.visible-xs-block
          #center_content.col-md-10.col-xs-12.col-sm-9
            = render_breadcrumbs
            = yield
    = render 'layouts/footer'
