!!!
%html
  %head
    %title 公众平台后台网站
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/topbar'
    #content
      .container
        .row
          = render 'layouts/flash_messages'
        .row
          .col-sm-3.col-md-2.sidebar
            %ul.nav.nav-sidebar
              %li.active
                %a{:href => "#"} Overview
              %li
                %a{:href => "#"} Reports
              %li
                %a{:href => "#"} Analytics
              %li
                %a{:href => "#"} Export
            %ul.nav.nav-sidebar
              %li
                %a{:href => ""} Nav item
              %li
                %a{:href => ""} Nav item again
              %li
                %a{:href => ""} One more nav
              %li
                %a{:href => ""} Another nav item
              %li
                %a{:href => ""} More navigation
            %ul.nav.nav-sidebar
              %li
                %a{:href => ""} Nav item again
              %li
                %a{:href => ""} One more nav
              %li
                %a{:href => ""} Another nav item
          .col-md-10
            = yield
    = render 'layouts/footer'
